<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Fruit</title>
</head>
<css th:replace="layout/header::headerCss" />
<body onload="initMoimElement();">
	<div th:replace="layout/header::header" /> 
	<div id="wrap">
	<input type="hidden" id="sido_key" value="12685d425f1af0872d756c" />
	<input type="hidden" id="sigoon_key" value="b0888bae39fbd0463a9252" />
	<section id="container">
		<div class="vis_box">
			<h2 class="title">Let’s Fruit!</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt pellentesque posuere varius ut a ultricies etiam mattis. Nisi nisi, ut amet, eu.</p>
		</div>
		<div id="content">
			<div class="inner">
				<div class="find_crew">
					<div class="top_box">
						<div class="crew_util_box">
							<div class="tabbtn_box custom_scroll">
								<ul>
									<th:block th:each="category : ${categories}">
									<li class="all on"  th:if="${category.commCode.toString().equals(commCode)}"><a th:href="@{'/moimlistView/' + ${category.commCode}}">[[${category.commName}]]</a></li>
									<li th:unless="${category.commCode.toString().equals(commCode)}"><a th:href="@{'/moimlistView/' + ${category.commCode}}">[[${category.commName}]]</a></li>
									</th:block>
								</ul>
							</div>
							<div class="control_box">
								<a href="#none" class="prev"><span class="icon">이전 탭</span></a>
								<a href="#none" class="next"><span class="icon">다음 탭</span></a>
							</div> 
						</div>
						<div class="detail_search">
							<a href="#none" class="search_open_btn open"><span class="icon"></span><span class="text_hidden">상세검색 <span class="ment">열기</span></span></a>
							<div class="detail_search_inner">
								<form>
									<div class="top_search_box">
										
										<div class="item">
											<label class="title" for="state_select">모임 상태</label>
											<select name="status" id="status" class="custom_select">
												<option>선택</option>
											</select>
										</div>
										
										<div class="item">
											<label class="title" for="place_select">시</label>
											<select name="sido_code" id="sido_code" class="custom_select">
												<option text="">선택</option>
											</select>
										</div>
										<div class="item">
											<label class="title" for="date_select">구</label>
											<select name="sigoon_code" id="sigoon_code" class="custom_select">
												<option text="">선택</option>
											</select>
										</div>
										
									</div>
									<div class="bottom_search_box">
										<label for="detail_search_input" class="text_hidden">검색어를 입력해주세요</label>
										<input type="text" id="detail_search_input" name="detail_search_input" placeholder="입력하세요" />
										<button type="submit" class="detail_search_button">Search</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					
					<div class="bottom_box">
						<div class="grid_item_box">
							<tr th:each="moimList : ${moimList}">
							<div class="grid_item card">
								<a th:href="@{'/moimlistView/moimdetailView/' + ${moimList.id}}">
									<div class="img_box">
										<img
												th:src="${moimList.imageName!=null} ? ${'/getMoimImage/'+moimList.imageName+'.'+moimList.imageExtension} : '/images/img_4.jpg'"
												alt="Image" class="img-fluid rounded"
												style="height: 200px; width: 500px" />
										<div class="state">
											<span class="person"><span class="icon"></span>[[${moimList.moimpeople.size()}]]/[[${moimList.peopleLimit}-1]]</span>
											<span class="type">[[${moimList.category.commName}]]</span>
										</div>
									</div>
									<div class="cont_box">
										<strong>[[${moimList.title}]]</strong>
										<p><td
													th:text="${#strings.length(moimList.intro)>10} ? ${#strings.substring(moimList.intro,0,10)+'...'} : ${moimList.intro}"
													id="moimtitle" /></p>
										<div class="tag"><span>#해시태그</span><span>#해시태그</span><span>#해시태그</span><span>#해시태그</span></div>
										<div class="percentage">
											<div class="bar">
												<div class="active"></div>
											</div>
											<span class="txt"><span>[[${moimList.progresspercent}]]</span>%</span>
										</div>
										<div class="util_box">
											<span class="like"><span class="icon"></span>55</span>
											<span class="place"><span class="icon"></span>[[${moimList.sidoname}]]&nbsp&nbsp[[${moimList.sigoonname}]]</span>
										</div>
									</div>
								</a>
							</div>
							</tr>
							
						</div>
						<div class="pager_box">
							<ul 
									th:with="start=${T(Math).floor(moimList.number/10)*10 + 1},
						                    last=(${start + 9 < moimList.totalPages ? start + 9 : moimList.totalPages})">
								<li><a th:href="@{'/moimlistView/'+${commCode}(page=1)}" class="pager_btn prev" ><span class="icon">이전 페이지</span></a></li>
								<li th:each="page: ${#numbers.sequence(start, last)}"
									th:class="${page == moimList.number + 1}">
									<a th:if="${page} == ${moimList.number+1}" th:text="${page}" th:href="@{'/moimlistView/'+${commCode}(page=${page},status=${status},sido_code=${sido_code},sigoon_code=${sigoon_code},title=${title})}" class="num on"></a>
									<a th:unless="${page} == ${moimList.number+1}" th:text="${page}" th:href="@{'/moimlistView/'+${commCode}(page=${page},status=${status},sido_code=${sido_code},sigoon_code=${sigoon_code},title=${title})}" class="num"></a></li>
								<li><a th:href="@{'/moimlistView/'+${commCode}(page=${moimList.totalPages},status=${status},sido_code=${sido_code},sigoon_code=${sigoon_code},title=${title})}" class="pager_btn next"><span class="icon">다음 페이지</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div th:replace="layout/footer::footer"/>
</div>
     
	 <script src="/js/moim/moimList.js"></script>

	<script type="rv-template" id="categoryItem">
		<li class="item" data-category={commonCode}>
			<a class="{className}"> <span>{categoryName}</span></a>
		</li>
	</script>

	<script type="rv-template" id="moimItem">
		<!-- moim list templating -->
	</script>

</body>
</html>