<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <css th:replace="layout/header::headerCss"/>
  
</head>
<body>
<div th:replace="layout/header::header"/>

<div id="userName" th:data="${session.peopleName}"></div><!-- 유저이름 -->
<div id="moimNo" th:data-moimNo="${moim.id}"></div><!-- 모임번호 -->
<div id="Login" th:data="${session.peopleEmail}"></div>
<!--컨텐츠 시작-->
        <section id="container" class="moimDetail">
            <!--페이지 타이틀 시작 -->
            <div class="vis_box">
                <h2 class="title">NAME OF GROUP</h2>
            </div>
            <!--페이지 타이틀 끝 -->
            <div id="contents">
                <div class="inner">
                    <div class="tab_header">
                        <div class="tab_box">x
                            <!-- <div  class="on" onclick="detail_list('All')">All</div>
                            <div   onclick="detail_list('My List')">My List</div>
                            <div  onclick="detail_list('New')">New</div>
                            <div  onclick="detail_list('In Progress')">In Progress</div>
                            <div  onclick="detail_list('End')">End</div>
                            <div  onclick="detail_list('Suspend')">Suspend</div> -->
                          	<div onclick="detail_list('All')" class="on"><a >ALL</a></div>
                            <div onclick="detail_list('My List')"><a >My List</a></div>
                            <div onclick="detail_list('New')"><a >New</a></div>
                            <div onclick="detail_list('In Progress')"><a>In Progress</a></div>
                            <div onclick="detail_list('End')"><a >End</a></div>
                            <div onclick="detail_list('Suspend')"><a >Suspend</a></div>
                            <div ><a href="">계획전체보기</a></div>
                            <div><a href="">Tab7</a></div>
                            <div><a href="">Tab8</a></div>
                        </div>
                        <div class="control_box">
                            <ul>
                                <li class="prev"></li>
                                <li class="next"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab_cont_box">
                        <div class="tab_cont">
                            <!--탭 변경 영역 시작-->
                            <table class="moimTodoList">
                                <caption>todo리스트</caption>
                                <colgroup>
                                    <col width="60">
                                    <col width="68">
                                    <col width="78.5">
                                    <col width="">
                                    <col width="205">
                                    <col width="135">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <td class="star"></td> 
                                        <td class="profile">작성자</td>
                                        <td class="status">상태</td>
                                        <td class="title">제목</td> 
                                        <td class="progress">진행량</td>
                                        <td class="ico_area">
                                            <a href=""><img src="/publ/images/contents/calendar.png" alt="달력으로 보기 콘"></a>
                                            <a href=""><img src="/publ/images/contents/download.png" alt="다운받기 아이콘"></a>
                                            <a href=""><img src="/publ/images/contents/delete.png" alt="삭제하기 아이콘"></a>
                                        </td>
                                    </tr>
                                </thead>

                                <tbody id="todolist">
                                   
                                    <!--todolist 반복 시작-->
                                    <div th:each="list: ${todolist}">
                                    <tr  th:attr="id=|todo${list.id}|" class="list">
                                        <td>
                                            <label class="star_check">
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <div class="profile_img"><a href=""><img  th:src="${list.people.imageName!=null} ?${'/getMoimImage/'+list.people.imageName+'.'+list.people.imageExtension} : '/publ/images/contents/profile_thumb.png'" src="/publ/images/contents/profile_thumb.png" alt="사용자 아이콘"></a></div>
                                        </td>
                                        <td>
                                        
			                               <span th:if="${list.status eq 'New'}" ><span class="status_ico new">신규</span></span>
			                               <span  th:if="${list.status eq 'In Progress'}" ><span class="status_ico ing">진행중</span></span> 
			                               <span th:if="${list.status eq 'End'}"><span class="status_ico end">완료</span></span>
			                               <span th:if="${list.status eq 'Suspend'}"><span class="status_ico stop">중지</span></span>
                                        </td>
                                        <td class="title" th:text="${list.plan_title}"></td>
                                        <td >
                                            <div class="percentage">
											<div class="bar">
												<div class="active"></div>
											</div>
											<span class="txt"><span>[[${list.progress}]]</span>%</span>
										</div>
                                        </td>
                                        <td th:if="${session.peopleId eq list.people.id}">
                                          <a href=""><img src="/publ/images/contents/calendar.png" alt="달력으로 보기 콘"></a>
                                            <a href=""><img src="/publ/images/contents/download.png" alt="다운받기 아이콘"></a>
                                            <a th:attr="onclick=|delete_send('${list.id}')|" ><img src="/publ/images/contents/delete.png" alt="삭제하기 아이콘"></a>
                                        </td>
                                    </tr>
                                    <!--todolist 내 디테일 반복 시작-->
                                     <tr  th:attr="id=|todo${list.id}_detail|" class="list_detail">
                                    </tr>
                                    <!--todolist 내 디테일 반복 끝-->
                                    <tr>
                                        <td colspan="6" class="contour"></td>
                                    </tr>
                                    <!--todolist 반복 끝-->
									</div>
                                   
                                </tbody>
                            </table>
                            <!--탭 변경 영역 끝-->
                        </div>
                    </div>
                </div>
                <center><button><a th:href="@{'/moimDetail/moimTodoList/moimTodowrite/' + ${no}}" class="nav-link"><i class="fa fa-fw fa-plus mr-2"></i>일정 관리 세우기</a></button></center>
                <div class="pager_box">
                    
                    <ul class="pagination"
	        th:with="start=${T(Math).floor(todolist.number/10)*10 + 1},
	                    last=(${start + 9 < todolist.totalPages ? start + 9 : todolist.totalPages})" th:if="${todolist.totalPages ne 0}" >
				        <li>
				            <a th:href="@{|/moimDetail/moimTodoList/${moim.id}?page=1|}" aria-label="First">
				                <span aria-hidden="true">First</span>
				            </a>
				        </li>
				
				        <li th:class="${todolist.first} ? 'disabled'">
				            <a th:href="${todolist.first} ? '#' :@{|/moimDetail/moimTodoList/${moim.id}?page=${todolist.number}|}" class="num">
				                <span aria-hidden="true">&lt;</span>
				            </a>
				        </li>
				
				        <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == todolist.number + 1} ? 'active'">
				            <a th:text="${page}" th:href="@{|/moimDetail/moimTodoList/${moim.id}?page=${page}|}" class="num on"></a>
				        </li>
				
				        <li th:class="${todolist.last} ? 'disabled'">
				            <a th:href="${todolist.last} ? '#' : @{|/moimDetail/moimTodoList/${moim.id}?page=${todolist.number + 2}|}" aria-label="Next">
				                <span aria-hidden="true">&gt;</span>
				            </a>
				        </li>
				
				        <li>
				            <a th:href="@{|/moimDetail/moimTodoList/${moim.id}?page=${todolist.totalPages}|}" aria-label="Last" class="num">
				                <span aria-hidden="true">Last</span>
				            </a>
				        </li>
				    </ul> 
                </div>
                
                <!-- 모달창 뜨는 이벤트인데 sidenav가 모달창 뜨게하는 역할임-->
                <div class="sidenav">
                    <div class="detail_header">
                        Lorem Ipsum is simply dummy text
                        of the printing and typesetting industry.
                        <a href="javascript:void(0)" onclick="fadeOutClass('sidenav')"><img src="/publ/images/contents/close_x.png" alt="기 닫기" class="sidenav_close"></a>
                    </div>
                    <div class="detail_body">
                        <div class="detail_view">
                            <div class="detail_view_inner">
                                <div id="detail_view01">
                                    <div class="wr_info">
                                        <div class="thumb">
                                            <a href=""><img src="/publ/images/contents/detail_thumb.png" alt="작성자 프로필 이미지"></a>
                                        </div>
                                        <span class="wr_name">Johnny Warren</span>
                                    </div>

                                    <div class="wr_conts_area">
                                        <div class="wr_conts">
                                            <img src="/publ/images/contents/sample2.png" alt="샘플이미지">
                                        </div>
                                        <div class="conts_info"><span class="date">2020-00-00</span>&nbsp;&nbsp;<span class="time">11:00:00</span></div>
                                    </div>
                                </div>
                                <div id="detail_view02">
                                    <div class="wr_info">
                                        <div class="thumb">
                                            <img src="/publ/images/contents/detail_thumb.png" alt="작성자 프로필 이미지">
                                        </div>
                                        <span class="wr_name">Johnny Warren</span>
                                    </div>

                                    <div class="wr_conts_area">
                                        <div class="wr_conts">
                                            <img src="/publ/images/contents/sample2.png" alt="샘플이미지">
                                        </div>
                                        <div class="conts_info"><span class="date">2020-00-00</span>&nbsp;&nbsp;<span class="time">11:00:00</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail_write">
                                <div class="thumb">
                                    <a href=""><img src="/publ/images/contents/detail_thumb.png" alt="나의 프로필 이미지"></a>
                                </div>
                                <div class="write_area">
                                    <form name="" action="" method="post">
                                        <textarea name=""></textarea>
                                        <a href=""><img src="/publ/images/contents/textarea_text.png" alt="글자 설정" class="wr_font_ico"></a>
                                        <a href=""><img src="/publ/images/contents/textarea_file.png" alt="파일 업로드" class="wr_file_ico"></a>
                                        <button type="submit">Comment</button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- 모달창 끝 -->
            </div>
        </section>
        <!--컨텐츠 끝-->
<div th:replace="moim/moimtodostatusModal::moimtodostatusModal" />
</body>
<script>

/******LIST TOGGLE JS******/
$(function() {

    $(".list").click(function (e) {
    	 $(this).toggleClass('open')
         var clickId = $(this).attr('id');
      	console.log("clickId"+clickId);
         var detailId = $("[id*=" + clickId + "_detail]");
    	   $.ajax({
    		      url:'/moimDetail/moimTodoList/detail/'+clickId.slice(4),
    		        contentType: "application/json; charset=utf-8",
    		        processData: false, //데이터를 쿼리 문자열로 변환하는 jQuery 형식 방지
    		        success:function(data){
    		        	 if(data.code==1){
    		        		 var todo = data.todo;
    		        		 var list= data.list;
    		        		 var writer=data.writer;
    		        		//완료안된 것들 
    		        		 var html="<td colspan='6'><ul id='myUL'>";
    		        		 //완료된 것들 
    		        		 var html2="<ul id='DoneUL'>";
    		        		 
    		        		 
    		        		 /* 
    		        			var html='<div id="detail-body">  <a href="javascript:void(0)" class="closebtn" onclick="close_detail()">&times;</a>  ';
    		        			   html+='<h3><span> '+todo.plan_title+' </span> </h3><ul id="myUL" >';
    		        			var html2= '<ul id="DoneUL" >';
    		        			 */
    		        			
    		        			   for(var i in list){
    		        				   if(list[i].checkConfirm=='N'){
    		        					   html+='<li id='+list[i].id+'><label class="cus_check"><input type="checkbox" ><span class="checkmark"></span>';
    		        					   html+='<span class="detail_txt">'+list[i].plan_list+'</span></label>';
    		        					   html+='<a ><img src="/publ/images/contents/more_arrow.png"  onclick="fadeInClass()" alt="자세히보기" class="more_arrow"></a>'
    		        					   if(list[i].detail=='Y'){
    		        						   html+='<a  onclick="viewMore()"><img src="/publ/images/contents/more_arrow.png" onclick="fadeInClass(sidenav)" alt="자세히보기" class="more_arrow"></a>'
    		        					   }
    		                           	  html+='</li>';
    		        					   
    		        					   /*작성한 detail 없고 체크안된경우
    		        					   html+='<li onclick="uncheck($(this))" value="'+list[i].id+'">'+list[i].plan_list;
    		        					   if(list[i].detail=='N'){
    		        						   if(writer.email==$("#Login").attr("data")){
    		        					   		html+="<button type='button'onclick='id='myBtn'  aria-haspopup='true' aria-expanded='false' class='dropdown-toggle btn btn-link'>";
    		        					   		html+='' 
    		 								  }				
    		        					   	}	else{
    		        					   		html+="<button type='button'onclick='modal_view(\""+list[i].plan_list.trim()+"\",\""+writer.name+"\","+list[i].id+","+todo.id+",\""+writer.email+"\")'id='myBtn'  aria-haspopup='true' aria-expanded='false' class='dropdown-toggle btn btn-link'>";
    		        					   		html+="보기";
    		        					   	}	
    		        					   	html+= '     </button></li>';*/
    		        				   }
    		        				   else{
    		        					   html2+='<li><label class="cus_check"><input type="checkbox" checked="checked"><span class="checkmark"></span>';
    		        					   html2+='<span class="detail_txt">'+list[i].plan_list+'</span></label>';
    		        					   if(list[i].detail=='Y'){
    		        						  // html2+='<a  onclick="viewMore()"><img src="/publ/images/contents/more_arrow.png" onclick="fadeOutClass(sidenav)" alt="자세히보기" class="more_arrow"></a>'
    		        					   }
    		                           	  html2+='</li>';
    		        				   /*작성한 detail 없고 체크된경우
    		        					   html2+='<li class="checked">'+list[i].plan_list;
    	        					   if(list[i].detail=='N'){
    	        						   if(writer.email==$("#Login").attr("data")){
    		        					   		html+="<button type='button'onclick='modal_view(\""+list[i].plan_list.trim()+"\",\""+writer.name+"\","+list[i].id+","+todo.id+",\""+writer.email+"\")'id='myBtn'  aria-haspopup='true' aria-expanded='false' class='dropdown-toggle btn btn-link'>";
    		        					   		html+='▷' 
    		 								  }		
    	        					   	}	else{
    	        					   		html2+="<button type='button'onclick='modal_view(\""+list[i].plan_list.trim()+"\",\""+writer.name+"\","+list[i].id+","+todo.id+",\""+writer.email+"\")'id='myBtn'  aria-haspopup='true' aria-expanded='false' class='dropdown-toggle btn btn-link'>";
    	        					   		html2+="보기";
    	        					   	}	
    	        					   	html2+= '     </button></li>';
    	        					   	*/
    		        				   }
    		        			   }
    		        			 
    		                   		html+='</ul>';
    		                   		html2+='<a href=""><img src="/publ/images/contents/download.png" alt="다운받기 아이콘" onclick="post_send('+todo.id+')"></a></ul>';
    		                   		/* html2+='</ul></div><div align="right"><pre><span id="to_date"  value="'+todo.to_date+'">시작일자: '+todo.from_date+'   종료일자: '+todo.to_date+"</span>";
    		                   		if(todo.to_date2 ==null||todo.to_date2==''){
    		                   			html2+='<br><div id="change_date" >수정 종료날짜: <select id="to_date2"> <option value="3">+3일</option><option value="5">+5일</option><option value="7">+7일</option></select></div><hr>'	
    		                   		}else{
    		                   			html2+='<br>수정된 종료일자: '+todo.to_date2+"<br>";
    		                   		
    		                   		}
    		                   		if(writer.email==$("#Login").attr("data")){
    		                   			//수정햇던 적이 없으면 마감일 1번수정가눙
    		                   			if(todo.to_date2 ==null||todo.to_date2==''){
    										html2+='<button type="button" class="btn btn-outline-info" onclick="change_form('+todo.id+')">수정하기</button>'
    		                   			}
    									html2+='<button type="button" class="btn btn-outline-success" onclick="post_send('+todo.id+')">저장하기</button>'
    									html2+='<button type="button" class="btn btn-outline-danger" onclick="delete_send('+todo.id+')">삭제하기</button>'
    		                   		}
    		                   			html2+='</pre></div>'
    		         
    		                   		html=html+html2;
    								console.log(html);
    		                   		$("#detail-body").html(html);
    		                   	$("#change_date").hide();
    		                   	 document.getElementById("detail").style.display="block";
    		                   	 document.getElementById("detail").style.width = "500px"; */
    		                   	 
    		                   	 	html=html+html2;
    								detailId.html(html);
    		                        detailId.toggleClass('open');
    		             }else{
    		                 alert(data.message);
    		             }
    		        }, error:function(e){
    					alert(e)
    		        }
    		    });

    	 })

})

/******fade_class JS******/
function fadeOutClass(a) {
	console.log(a)
    $('.' + "sidenav").fadeOut(300);
}

function fadeInClass(plan,writer,id,parent,email) {
    $('.'+ "sidenav").fadeIn(300);
}
$(document).ready(function(){
	/******탭 슬라이드 JS******/
	 $('.tab_box').slick({
	        infinite: false,
	        slidesToShow: 6,
	        slidesToScroll: 1,
	        variableWidth: true,
	        nextArrow: $('.control_box .next'),
	        prevArrow: $('.control_box .prev')
	    });
	//시간 받아와서 지나면 suspend로 업데이트
/* //	$.ajax({
// 	     url:'/moimDetail/moimTodoList/status/'+$('#moimNo').attr("data-moimNo"),
// 	   }); */

	 document.getElementById("detail").style.display="none";
 	/* 
 	if($('#moimPeople').attr("data-No")=='false'){
 		window.onclick=function(){ 
 		    alert("모임에 가입하셔야 이용하실 수 있습니다");
 		   location.href='/moimlistView/moimdetailView/'+$('#moimNo').attr("data-moimNo");
 		   return;
 		};
 	}
 */
 if(location.href.indexOf('myList')>0){
	 document.getElementById('All').setAttribute('class','');
		document.getElementById('My List').setAttribute('class','on');
 }
 	
   });

function close_detail(){
	 document.getElementById("detail").style.width = "0";
}
function get_detail(id) {

	
	
	   $.ajax({
	      url:'/moimDetail/moimTodoList/detail/'+id,
	        contentType: "application/json; charset=utf-8",
	        processData: false, //데이터를 쿼리 문자열로 변환하는 jQuery 형식 방지
	        success:function(data){
	        	 if(data.code==1){
	        		 var todo = data.todo;
	        		 var list= data.list;
	        		 var writer=data.writer;
	        			
	        			var html='<div id="detail-body">  <a href="javascript:void(0)" class="closebtn" onclick="close_detail()">&times;</a>  ';
	        			   html+='<h3><span> '+todo.plan_title+' </span> </h3><ul id="myUL" >';
	        			var html2= '<ul id="DoneUL" >';
	        			
	        			   for(var i in list){
	        				   if(list[i].checkConfirm=='N'){
	        					   html+='<li onclick="uncheck($(this))" value="'+list[i].id+'">'+list[i].plan_list;
	        					   //작성한 detail 없고 체크안된경우
	        					   if(list[i].detail=='N'){
	        						   if(writer.email==$("#Login").attr("data")){
	        							html+='<a ><img src="/publ/images/contents/more_arrow.png"  onclick="fadeInClass('+list[i].plan_list.trim()+','+writer.name+','+list[i].id+','+todo.id+','+writer.email+')" alt="자세히보기" class="more_arrow"></a>'
	        					   		//html+="<button type='button'onclick='modal_view(\""+list[i].plan_list.trim()+"\",\""+writer.name+"\","+list[i].id+","+todo.id+",\""+writer.email+"\")'id='myBtn'  aria-haspopup='true' aria-expanded='false' class='dropdown-toggle btn btn-link'>";
	        					   		html+='' 
	 								  }				
	        					   	}	else{
	        					   		html+='<a ><img src="/publ/images/contents/more_arrow.png"  onclick="fadeInClass('+list[i].plan_list.trim()+','+writer.name+','+list[i].id+','+todo.id+','+writer.email+')" alt="자세히보기" class="more_arrow"></a>'
	        					   		//html+="<button type='button'onclick='modal_view(\""+list[i].plan_list.trim()+"\",\""+writer.name+"\","+list[i].id+","+todo.id+",\""+writer.email+"\")'id='myBtn'  aria-haspopup='true' aria-expanded='false' class='dropdown-toggle btn btn-link'>";
	        					   		html+="보기";
	        					   	}	
	        					   	html+= '     </button></li>';
	        					   
	        				   }
	        				   else{
	        					   
	        					   html2+='<li class="checked">'+list[i].plan_list;
	        				   //작성한 detail 없고 체크된경우
        					   if(list[i].detail=='N'){
        						   if(writer.email==$("#Login").attr("data")){
        							    html+='<a ><img src="/publ/images/contents/more_arrow.png"  onclick="fadeInClass('+list[i].plan_list.trim()+','+writer.name+','+list[i].id+','+todo.id+','+writer.email+')" alt="자세히보기" class="more_arrow"></a>'
        							   //html+="<button type='button'onclick='modal_view(\""+list[i].plan_list.trim()+"\",\""+writer.name+"\","+list[i].id+","+todo.id+",\""+writer.email+"\")'id='myBtn'  aria-haspopup='true' aria-expanded='false' class='dropdown-toggle btn btn-link'>";
	        					   		html+='▷' 
	 								  }		
        					   	}	else{
        					   		html2+='<a ><img src="/publ/images/contents/more_arrow.png"  onclick="fadeInClass('+list[i].plan_list.trim()+','+writer.name+','+list[i].id+','+todo.id+','+writer.email+')" alt="자세히보기" class="more_arrow"></a>'
        					   		//html2+="<button type='button'onclick='modal_view(\""+list[i].plan_list.trim()+"\",\""+writer.name+"\","+list[i].id+","+todo.id+",\""+writer.email+"\")'id='myBtn'  aria-haspopup='true' aria-expanded='false' class='dropdown-toggle btn btn-link'>";
        					   		html2+="보기";
        					   	}	
        					   	html2+= '     </button></li>';
	        				   }
	        			   }
	        			 
	                   		html+='</ul>';
	                   		html2+='</ul></div><div align="right"><pre><span id="to_date"  value="'+todo.to_date+'">시작일자: '+todo.from_date+'   종료일자: '+todo.to_date+"</span>";
	                   		if(todo.to_date2 ==null||todo.to_date2==''){
	                   			html2+='<br><div id="change_date" >수정 종료날짜: <select id="to_date2"> <option value="3">+3일</option><option value="5">+5일</option><option value="7">+7일</option></select></div><hr>'	
	                   		}else{
	                   			html2+='<br>수정된 종료일자: '+todo.to_date2+"<br>";
	                   		
	                   		}
	                   		if(writer.email==$("#Login").attr("data")){
	                   			//수정햇던 적이 없으면 마감일 1번수정가눙
	                   			if(todo.to_date2 ==null||todo.to_date2==''){
									html2+='<button type="button" class="btn btn-outline-info" onclick="change_form('+todo.id+')">수정하기</button>'
	                   			}
								html2+='<button type="button" class="btn btn-outline-success" onclick="post_send('+todo.id+')">저장하기</button>'
								html2+='<button type="button" class="btn btn-outline-danger" onclick="delete_send('+todo.id+')">삭제하기</button>'
	                   		}
	                   			html2+='</pre></div>'
	         
	                   		html=html+html2;
							console.log(html);
	                   		$("#detail-body").html(html);
	                   	$("#change_date").hide();
	                   	 document.getElementById("detail").style.display="block";
	                   	 document.getElementById("detail").style.width = "500px";
	             }else{
	                 alert(data.message);
	             }
	        }, error:function(e){
				alert(e)
	        }
	    });

 }

//todo삭제기능
function delete_send(id){
   alert("삭제됩니다")
   $.ajax({
         url : '/moimDetail/moimTodoList/delete/'+id, 
         type : "DELETE",   
         processData: false, //데이터를 쿼리 문자열로 변환하는 jQuery 형식 방지
          contentType: false,
          success:function(data){
             if(data.code==1){
                 alert(data.message);
				 location.reload();              
           }else{
              alert(data.message);
           }
          },
          error:function(e){

          }
      });
}


function detail_list(status){
	
	if(status=='All'){
		location.href="/moimDetail/moimTodoList/"+$('#moimNo').attr("data-moimNo");
	}else if(status=='My List'){
		location.href="/moimDetail/moimTodoList/myList/"+$('#moimNo').attr("data-moimNo");
	}
	else{
	 	//document.getElementById('All').setAttribute('class','');
	 	//document.getElementById(status).setAttribute('class','on');
	 		
	}
	

	$.ajax({
	      url:'/moimDetail/moimTodoList/'+$('#moimNo').attr("data-moimNo")+'/'+encodeURIComponent(status),
	      contentType: "application/json; charset=utf-8",
	        processData: false, //데이터를 쿼리 문자열로 변환하는 jQuery 형식 방지
	        success:function(data){
	        	 if(data.code==1){
	        		 console.log(data)
	        		//var page=data.todolist.page;
	        		var list=data.todolist.content;
	        		var html=""
	        			for(var i in list){
	        				/* 
	        				html+='<tr><td class="align-middle"> <div class="text-inverse"><a href="#"><i class="fa fa-fw fa-lg fa-star-o"></i></a></div></td>';
	        				html+='<td><div><a href="#" onclick="get_detail('+list[i].id+');" ><span>'+list[i].plan_title+'</span></a></div>';
	        				html+='   Edited by:'+list[i].people.name+'<br>'+list[i].from_date+'~'
	        					if(list[i].to_date2==null)
	        						html+=list[i].to_date;
	        					else
	        						html+=list[i].to_date2;
	        				html+='</td>  <td class="align-middle">';
	        				if(list[i].status=='New')
		        				html+=' <span class="badge badge-light badge-pill">New</span>';
		        			else if(list[i].status=='In Progress')
		        				html+=' <span class="badge badge-success badge-pill">In Progress</span>';
		        			else if(list[i].status=='End')
		        				html+=' <span class="badge badge-danger badge-pill">End</span>';
		        			else if(list[i].status=='Suspend')
		        				html+=' <span class="badge badge-danger badge-pill">Suspend</span>';
		        			html+=' <td class="align-middle"> <div class="mb-2 progress" style="height: 5px;">';
		        			html+='<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:'+list[i].progress+'%;"></div>';
                            html+= '</div><div>진행률:'+list[i].progress_done+'/'+list[i].progress_total+'</div></td>';
                            html+='<td class="align-middle">  <div class="avatar-image avatar-image--loaded"> <div class="avatar avatar--md avatar-image__image">'
	        				html+='  <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar1.png"></div> </div>'
	        				html+='  </div></td> </tr> '; */
	        				html+='<tr class="list" id="'+list[i].id+'"><td><label class="star_check"> <input type="checkbox">  <span class="checkmark"></span></label></td>';
                            html+='<td> <div class="profile_img"><a href=""><img src="/publ/images/contents/profile_thumb.png" alt="사용자 아이콘"></a></div></td>';
                 			html+='<td>';
                 			if(list[i].status=='New')
		        				html+=' <span class="status_ico new">신규</span> ';
		        			else if(list[i].status=='In Progress')
		        				html+=' <span class="status_ico ing">진행중</span>';
		        			else if(list[i].status=='End')
		        				html+=' <span class="status_ico end">완료</span>';
		        			else if(list[i].status=='Suspend')
		        				html+=' <span class="status_ico stop">중지</span>';
                           html+='</td><td class="title">'+list[i].plan_title+'</td><td><div class="percentage"><div class="bar"><div class="active"></div></div>';
                           html+='	<span class="txt"><span>'+list[i].progress+'</span>%</span></div></td>';
                   			if(list[i].people.name==$("#userName").attr("data")){
                   				
                   				//html+='<td><a href=""><img src="/publ/images/contents/calendar.png" alt="달력으로 보기 콘"></a>'
                           		//html+='<a href=""><img src="/publ/images/contents/download.png" alt="다운받기 아이콘" onclick="post_send('+todo.id+')"></a>';
                            	//html+='<a onclick="delete_send('+list[i].id+')"><img src="/publ/images/contents/delete.png" onclick="delete_send('+todo.id+')" alt="삭제하기 아이콘"></a></td>';
                   			}
	      					html+='</tr>';
                   				
                                     
	        			}
	        	
	        		$("#todolist").html(html);
	        		$("#page").hide();
	        		 
	        	 }else{
	                 alert(data.message);
	             }
	        }, error:function(e){

	        }
	});
}
 

//체크저장기능
function post_send(id) {
	var temp = document.getElementById("myUL").getElementsByTagName("LI");
	var count=document.getElementById("DoneUL").getElementsByTagName("LI");
	var list="";
	var now =new Date();
	//var to=new Date($('#to_date').attr("data"));
	 
// 	 if(now>to){
// 		alert("기한이 지나 수정이 불가능합니다.");
// 		document.getElementById("sendBtn").style.display="none";
// 		return ;
// 	 }	
	var total=count.length;

	if(temp.length!=0){
		for (var i in temp) {
			if(temp[i].className=="checked"){
				list+=temp[i].value+",";
				total++;
			}
		}
	}
	if(list.length==0){
		alert("변경된 사항이 없습니다.")
		return;
	} 
		
	var param={
			list:list,
			count:count.length
	}  
	
	var moimNo=$('#moimNo').attr("data-moimNo");
	     $.ajax({
	      url:'/moimDetail/moimTodoList/moimtodostatus/moimtodostatusDetail/'+id,
	        type:'post',
	        data: JSON.stringify(param) ,
	        contentType: "application/json; charset=utf-8",
	        success:function(data){
	        	 if(data.code==1){
	        		 if(total==temp.length+count.length){
	        			 socket.send('/noti/finishNoti',{},JSON.stringify({moimNo:moimNo, userName: $("#userName").attr("data")}));
		 				 socket.send('/moim/finishNoti',{},JSON.stringify({moimNo:moimNo, userName:  $("#userName").attr("data") }));
	        		 }else{
	        			 socket.send('/noti/updateNoti',{},JSON.stringify({moimNo:moimNo, userName: $("#userName").attr("data")}));
		 				 socket.send('/moim/updateNoti',{},JSON.stringify({moimNo:moimNo, userName:  $("#userName").attr("data") }));
		        		 
	        		 }
	        		
	                 location.href='/moimDetail/moimTodoList/'+ moimNo;
	             }else{
	                 alert(data.message);
	             }
	        }, error:function(e){
	        }
	    });  
	}


function change_form(id){
//종료날짜 수정변경 폼 보여주기
	 if($("#change_date").attr("style")!=''){
	 	$("#change_date").show();
	 }
	 else{
		 //기존 종료일에 추가된 날짜 더하기
		 var date=new Date($("#to_date").attr("value"));
		 date.setDate(date.getDate()+$("#to_date2").val()*1);
		 var toDoWrite={};
		 toDoWrite.to_date2=date;
		 toDoWrite.id=id;
		 $.ajax({
		      url:'/moimDetail/moimTodoList/update_date',
		        type:'post',
		        data: JSON.stringify(toDoWrite) ,
		        contentType: "application/json; charset=utf-8",
		        success:function(data){
		        	 if(data.code==1){
		        		 socket.send('/noti/updateNoti',{},JSON.stringify({moimNo:moimNo, userName: $("#userName").attr("data")}));
		 				 socket.send('/moim/updateNoti',{},JSON.stringify({moimNo:moimNo, userName:  $("#userName").attr("data") }));
		        		 alert("수정되었습니다.");
		        		 get_detail(id);
		             }else{
		                 alert(data.message);
		             }
		        }, error:function(e){

		        }
		    });
		 
	 }
	 
	 
}

</script>
<script src="/js/moim/moimtodostatusModal.js"></script>
</html>