<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <css th:replace="layout/header::headerCss"/>
  
</head>
<body>
<div th:replace="layout/header::header"/>

<div id="userName" th:data="${session.peopleName}"></div><!-- 유저이름 -->
<div id="moimNo" th:data-moimNo="${moim.id}"></div><!-- 모임번호 -->
<div id="Login" th:data="${session.peopleEmail}"></div>
<!--컨텐츠 시작-->
        <section id="container" class="moimDetail">
            <!--페이지 타이틀 시작 -->
            <div class="vis_box">
                <h2 class="title">NAME OF GROUP</h2>
            </div>
            <!--페이지 타이틀 끝 -->
            <div id="contents">
                <div class="inner">
                    <div class="tab_header">
                        <div class="tab_box">x
                          	<div  id="All" onclick="detail_list('All')" class="on"><a >ALL</a></div>
                            <div id="My List" onclick="detail_list('My List')"><a >My List</a></div>
                            <div id="New" onclick="detail_list('New')"><a >New</a></div>
                            <div id="In Progress" onclick="detail_list('In Progress')"><a>In Progress</a></div>
                            <div id="End" onclick="detail_list('End')"><a >End</a></div>
                            <div id="Suspend" onclick="detail_list('Suspend')"><a >Suspend</a></div>
                      
                        </div>
                        <div class="control_box">
                            <ul>
                                <li class="prev"></li>
                                <li class="next"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab_cont_box">
                        <div class="tab_cont">
                            <!--탭 변경 영역 시작-->
                            <table class="moimTodoList">
                                <caption>todo리스트</caption>
                                <colgroup>
                                    <col width="60">
                                    <col width="68">
                                    <col width="78.5">
                                    <col width="">
                                    <col width="205">
                                    <col width="135">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <td class="star"></td> 
                                        <td class="profile">작성자</td>
                                        <td class="status">상태</td>
                                        <td class="title">제목</td> 
                                        <td class="">진행량</td>
                                        <td class="ico_area">
                                            <a><img src="/publ/images/contents/calendar.png" alt="달력으로 보기 콘"></a>
                                            <a ><img src="/publ/images/contents/download.png" alt="다운받기 아이콘"></a>
                                            <a ><img src="/publ/images/contents/delete.png" alt="삭제하기 아이콘"></a>
                                        </td>
                                    </tr>
                                </thead>

                                <tbody id="todolist">
                                   
                                    <!--todolist 반복 시작-->
                                    <div th:each="list: ${todolist}">
                                    <tr  th:attr="id=|todo${list.id}|" class="list" >
                                        <td>
                                            <label class="star_check">
                                                <input type="checkbox" checked>
                                                <span class="checkmark"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <div class="profile_img"><a><img  th:src="${list.people.imageName!=null} ?${'/getMoimImage/'+list.people.imageName+'.'+list.people.imageExtension} : '/publ/images/contents/profile_thumb.png'" src="/publ/images/contents/profile_thumb.png" alt="사용자 아이콘"></a></div>
                                        </td>
                                        <td>
                                        
			                               <span th:if="${list.status eq 'New'}" ><span class="status_ico new">신규</span></span>
			                               <span  th:if="${list.status eq 'In Progress'}" ><span class="status_ico ing">진행중</span></span> 
			                               <span th:if="${list.status eq 'End'}"><span class="status_ico end">완료</span></span>
			                               <span th:if="${list.status eq 'Suspend'}"><span class="status_ico stop">중지</span></span>
                                        </td>
                                        <td class="title" th:text="${list.plan_title}" th:onclick="|list_click(${list.id})|"></td>
                                        <td >
                                            <div class="percentage">
											<div class="bar">
												<div class="active"></div>
											</div>
											<span class="txt">[[${list.progress_done}]]/[[${list.progress_total}]]</span>
										</div>
                                        </td>
                                        <td th:if="${session.peopleId eq list.people.id}">
                                        	
                                          <a th:attr="onclick=|change_form('${list.id}')|" th:if="${list.status ne 'End'&& list.status ne 'Suspend'}"><img src="/publ/images/contents/calendar.png" alt="달력으로 보기 콘"></a>
                                            <a th:attr="onclick=|post_send('${list.id}')|"><img src="/publ/images/contents/download.png" alt="다운받기 아이콘"></a>
                                            <a th:attr="onclick=|delete_send('${list.id}')|" ><img src="/publ/images/contents/delete.png" alt="삭제하기 아이콘"></a>
                                        </td>
                                    </tr>
                                    <!--todolist 내 디테일 반복 시작-->
                                     <tr  th:attr="id=|todo${list.id}_detail|" class="list_detail">
                                    </tr>
                                    <!--todolist 내 디테일 반복 끝-->
                                    <tr>
                                        <td colspan="6" class="contour"></td>
                                    </tr>
                                    <!--todolist 반복 끝-->
									</div>
                                   
                                </tbody>
                            </table>
                            <!--탭 변경 영역 끝-->
                        </div>
                    </div>
                </div>
                <center><button><a th:href="@{'/moimDetail/moimTodoList/moimTodowrite/' + ${no}}" class="nav-link"><i class="fa fa-fw fa-plus mr-2"></i>일정 관리 세우기</a></button></center>
                <div class="pager_box">
                    
                    <ul class="pagination"
	        			th:with="start=${T(Math).floor(todolist.number/10)*10 + 1},
	                    last=(${start + 9 < todolist.totalPages ? start + 9 : todolist.totalPages})" th:if="${todolist.totalPages ne 0}" >
				        <li>
				            <a th:href="@{|/moimDetail/moimTodoList/${moim.id}?page=1|}" aria-label="First">
				                <span aria-hidden="true">First</span>
				            </a>
				        </li>
				
				        <li th:class="${todolist.first} ? 'disabled'">
				            <a th:href="${todolist.first} ? '#' :@{|/moimDetail/moimTodoList/${moim.id}?page=${todolist.number}|}" class="num">
				                <span aria-hidden="true">&lt;</span>
				            </a>
				        </li>
				
				        <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == todolist.number + 1} ? 'active'">
				            <a th:if="${page} == ${todolist.number+1}" th:text="${page}" th:href="@{|/moimDetail/moimTodoList/${moim.id}?page=${page}|}" class="num on"></a>
				            <a th:unless="${page} == ${todolist.number+1}" th:text="${page}" th:href="@{|/moimDetail/moimTodoList/${moim.id}?page=${page}|}" class="num"></a>
				        </li>
				
				        <li th:class="${todolist.last} ? 'disabled'">
				            <a th:href="${todolist.last} ? '#' : @{|/moimDetail/moimTodoList/${moim.id}?page=${todolist.number + 2}|}" aria-label="Next">
				                <span aria-hidden="true">&gt;</span>
				            </a>
				        </li>
				
				        <li>
				            <a th:href="@{|/moimDetail/moimTodoList/${moim.id}?page=${todolist.totalPages}|}" aria-label="Last" class="num">
				                <span aria-hidden="true">Last</span>
				            </a>
				        </li>
				    </ul> 
                </div>
                
                <!-- 모달창 뜨는 이벤트인데 sidenav가 모달창 뜨게하는 역할임-->
                <div class="sidenav">
                </div>
                <!-- 모달창 끝 -->
            </div>
        </section>
        <!--컨텐츠 끝-->
</body>
<script>
/****** 목록 진행률 ******/
function progress_bar(){
	$(".moimTodoList .list").each(function() {
	    var obj = $(this);
	    /*진행률/전체*/
	    var percent_a = $(this).find(".percentage .txt").text();
	    var percent_b = percent_a.indexOf('/');
	    /*진행률 값*/
	    var percent_c = percent_a.substr(0, percent_b);
	    /*전체 값*/
	    var percent_d = percent_a.substr(percent_b+1,percent_a.length);

	    var percent = (percent_c / percent_d) * 100;

	    obj.find(".percentage .bar .active").css("width", percent + "%");
	    if (percent > 60) {
	        $(this).find(".percentage").addClass("high");
	    } else if (percent > 30 && percent < 60) {
	        $(this).find(".percentage").addClass("mid");
	    } else if (percent > 0 && percent < 30) {
	        $(this).find(".percentage").addClass("low");
	    } else if (percent == 0) {
	        $(this).find(".percentage").addClass("zero");
	    }
	});
}

/****** 상세 목록 내 체크박스를 클릭 시 addclass ******/
function check_input(){
	$('.cus_check input').click(function() {
		console.log($(this));
	    $(this).parents('li').toggleClass('checked')
	})

}

/******LIST TOGGLE JS******/

    function list_click(id){
    	 $(this).toggleClass('open')
         var clickId = id;
      	console.log("clickId"+clickId);
         var detailId = $("[id*=todo" + clickId + "_detail]");
    	   $.ajax({
    		      url:'/moimDetail/moimTodoList/detail/'+clickId,
    		        contentType: "application/json; charset=utf-8",
    		        processData: false, //데이터를 쿼리 문자열로 변환하는 jQuery 형식 방지
    		        success:function(data){
    		        	 if(data.code==1){
    		        		 var todo = data.todo;
    		        		 var list= data.list;
    		        		 var writer=data.writer;
    		        		//완료안된 것들 
    		        		 var html=" <td colspan='6'><input type='hidden' id='to_date_"+todo.id+"' value='"+todo.to_date+"'><div  id='changeDate"+todo.id+"' style='display:none' ><select  id='NewEnd"+todo.id+"'><option value='+1'>+1일</option><option value='+3'>+3일</option><option value='+7'>+7일</option></select></div>"
    		        		 		+" <ul id='myUL"+todo.id+"'>";
    		        		 //완료된 것들 
    		        		 var html2="<ul id='DoneUL"+todo.id+"'>";
    		        		 		
    		        			   for(var i in list){
    		        				   if(list[i].checkConfirm=='N'){
    		        					   html+='<li id="'+list[i].id+'"><label class="cus_check" name="check'+list[i].id+'"><input type="checkbox" name="check'+list[i].id+'" ><span class="checkmark"></span>';
    		        					   html+='<span class="detail_txt">'+list[i].plan_list+'</span></label>';
    		        					   if(list[i].detail=='Y'||list[i].people.name==$("#userName").attr("data")){
    		        						   html+='<a  onclick="fadeInClass('+list[i].id+')"><img src="/publ/images/contents/more_arrow.png"  alt="자세히보기" class="more_arrow"></a>'
    		        					   }
    		                           	  html+='</li>';
    		        					   
    		        
    		        				   }
    		        				   else{
    		        					   html2+='<li><label class="cus_check" name="'+list[i].id+'"><span class=""></span>';
    		        					   html2+='<span class="detail_txt" style="    text-decoration: line-through;">'+list[i].plan_list+'</span></label>';
    		        					   if(list[i].detail=='Y'||list[i].people.name==$("#userName").attr("data")){
    		        						   html2+='<a onclick="fadeInClass('+list[i].id+')"><img src="/publ/images/contents/more_arrow.png"  alt="자세히보기" class="more_arrow"></a>'
    		        					   }
    		                           	  html2+='</li>';
    		        	
    		        				   }
    		        			   }
    		        			 
    		                   		html+='</ul>';
    		                   		
    		                   	 
    		                   	 	html=html+html2;
    								detailId.html(html);
    		                        detailId.toggleClass('open');
    		                        check_input();
    		             }else{
    		                 alert(data.message);
    		             }
    		        }, error:function(e){
    					alert(e)
    		        }
    		    });

    	 }


/******fade_class JS******/
function fadeOutClass(a) {
	console.log(a)
    $('.sidenav').fadeOut(300);
}

function fadeInClass(id) {

	$.ajax({
	    	url:'/moimDetail/moimTodoList/sidenav/'+id,
	    	 method: "POST",
	    	    dataType: "html",
	        success:function(data){
   				 $('.sidenav').replaceWith(data);
   				 $('.sidenav').fadeIn(300);
	        	
	        	
	        }, error:function(e){

	        }
	});
}
$(document).ready(function(){
	progress_bar();
	 if(location.href.indexOf('myList')>0){
		 $(".on").attr("class","");
		 	document.getElementById('My List').setAttribute('class','on');
	 }
	/****** 페이지 로드시 상세 목록 내 체크박스 상태 확인후 addclass ******/
    $(".moimTodoList .list_detail li").each(function() {
        var obj = $(this);
        if (obj.find('input').prop('checked')) {
            obj.addClass('checked');
        }
    });
	/*****/
	/******탭 슬라이드 JS******/
	 $('.tab_box').slick({
	        infinite: false,
	        slidesToShow: 6,
	        slidesToScroll: 1,
	        variableWidth: true,
	        nextArrow: $('.control_box .next'),
	        prevArrow: $('.control_box .prev')
	    });
	//시간 받아와서 지나면 suspend로 업데이트
/* //	$.ajax({
// 	     url:'/moimDetail/moimTodoList/status/'+$('#moimNo').attr("data-moimNo"),
// 	   }); */

	 document.getElementById("detail").style.display="none";
 	/* 
 	if($('#moimPeople').attr("data-No")=='false'){
 		window.onclick=function(){ 
 		    alert("모임에 가입하셔야 이용하실 수 있습니다");
 		   location.href='/moimlistView/moimdetailView/'+$('#moimNo').attr("data-moimNo");
 		   return;
 		};
 	}
 */

});

function close_detail(){
	 document.getElementById("detail").style.width = "0";
}

//todo삭제기능
function delete_send(id){
   alert("삭제됩니다")
   $.ajax({
         url : '/moimDetail/moimTodoList/delete/'+id, 
         type : "DELETE",   
         processData: false, //데이터를 쿼리 문자열로 변환하는 jQuery 형식 방지
          contentType: false,
          success:function(data){
             if(data.code==1){
                 alert(data.message);
				 location.reload();              
           }else{
              alert(data.message);
           }
          },
          error:function(e){

          }
      });
}


function detail_list(status){
	
	if(status=='All'){
		location.href="/moimDetail/moimTodoList/"+$('#moimNo').attr("data-moimNo");
	}else if(status=='My List'){
		location.href="/moimDetail/moimTodoList/myList/"+$('#moimNo').attr("data-moimNo");
	}
	else{
		$(".on").attr("class","");
	 	document.getElementById(status).setAttribute('class','on');
	 		
	}
	

	$.ajax({
	      url:'/moimDetail/moimTodoList/'+$('#moimNo').attr("data-moimNo")+'/'+encodeURIComponent(status),
	      contentType: "application/json; charset=utf-8",
	        processData: false, //데이터를 쿼리 문자열로 변환하는 jQuery 형식 방지
	        success:function(data){
	        	 if(data.code==1){
	        		 console.log(data)
	        		//var page=data.todolist.page;
	        		var list=data.todolist.content;
	        		var html=""
	        			for(var i in list){
	        			
	        				html+='<tr id="todo'+list[i].id+'" class="list" onclick="list_click('+list[i].id+')"><td><label class="star_check"> <input type="checkbox">  <span class="checkmark"></span></label></td>';
                            html+='<td> <div class="profile_img"><a ><img src="/publ/images/contents/profile_thumb.png" alt="사용자 아이콘"></a></div></td>';
                 			html+='<td>';
                 			if(list[i].status=='New')
		        				html+=' <span class="status_ico new">신규</span> ';
		        			else if(list[i].status=='In Progress')
		        				html+=' <span class="status_ico ing">진행중</span>';
		        			else if(list[i].status=='End')
		        				html+=' <span class="status_ico end">완료</span>';
		        			else if(list[i].status=='Suspend')
		        				html+=' <span class="status_ico stop">중지</span>';
                           html+='</td><td class="title">'+list[i].plan_title+'</td><td><div class="percentage"><div class="bar"><div class="active" style="width:'+list[i].progress+'"></div></div>';
                           html+='	<span class="txt">'+list[i].progress_done+'/'+list[i].progress_total+'</span></div></td>';
                   			if(list[i].people.name==$("#userName").attr("data")){
                   				if(list[i].status!='End'&&list[i].status!='Suspend')
                   					html+='<td><a onclick="change_form('+list[i].id+')"><img src="/publ/images/contents/calendar.png" alt="달력으로 보기 콘"></a>'
                           		html+='<a onclick="post_send('+list[i].id+')"><img src="/publ/images/contents/download.png" alt="다운받기 아이콘" onclick="post_send('+list[i].id+')"></a>';
                            	html+='<a onclick="delete_send('+list[i].id+')"><img src="/publ/images/contents/delete.png" onclick="delete_send('+list[i].id+')" alt="삭제하기 아이콘"></a></td>';
                   			}
	      					html+='</tr>';
	      					html+='<tr id=todo'+list[i].id+'_detail" class="list_detail">';
	      					html+='</tr>';                                     
	        			}
	        	
	        		$("#todolist").html(html);
	        		$(".pager_box").hide();
	        		progress_bar();
	        		 
	        	 }else{
	                 alert(data.message);
	             }
	        }, error:function(e){

	        }
	});
}
 

//체크저장기능
function post_send(id) {
	var temp = document.getElementById("myUL"+id).getElementsByTagName("LI");
	var count=document.getElementById("DoneUL"+id).getElementsByTagName("LI");
	var list="";
	var now =new Date();
	//var to=new Date($('#to_date').attr("data"));
	 
// 	 if(now>to){
// 		alert("기한이 지나 수정이 불가능합니다.");
// 		document.getElementById("sendBtn").style.display="none";
// 		return ;
// 	 }	
	var total=count.length;

	if(temp.length!=0){
		for (var i in temp) {
			if(temp[i].className=="checked"){
				list+=temp[i].id+",";
				total++;
			}
		}
	}
	
	if(list.length==0&&$("#newEnd"+id).attr("style")==""){
		alert("변경된 사항이 없습니다.")
		return;
	} 
	//종료날짜 수정했을경우
	if($("#newEnd"+id).attr("style")!=""){
		//기존 종료일에 추가된 날짜 더하기
		 var date=new Date($("#to_date_"+id).attr("value"));
		 date.setDate(date.getDate()+$("#newEnd"+id).val()*1);
		 var toDoWrite={};
		 toDoWrite.to_date2=date;
		 toDoWrite.id=id;
		 $.ajax({
		      url:'/moimDetail/moimTodoList/update_date',
		        type:'post',
		        data: JSON.stringify(toDoWrite) ,
		        contentType: "application/json; charset=utf-8",
		        success:function(data){
		        	 if(data.code==1){
		        		if(list.length==0){
		        		 socket.send('/noti/updateNoti',{},JSON.stringify({moimNo:moimNo, userName: $("#userName").attr("data")}));
		 				 socket.send('/moim/updateNoti',{},JSON.stringify({moimNo:moimNo, userName:  $("#userName").attr("data") }));
		 					 alert("수정되었습니다.");
		        			 list_click(id);
		        		}
		             }else{
		                 alert(data.message);
		             }
		        }, error:function(e){

		        }
		    });
		 
	 }
	var param={
			list:list,
			count:count.length
	}  
	
	var moimNo=$('#moimNo').attr("data-moimNo");
	     $.ajax({
	      url:'/moimDetail/moimTodoList/moimtodostatus/moimtodostatusDetail/'+id,
	        type:'post',
	        data: JSON.stringify(param) ,
	        contentType: "application/json; charset=utf-8",
	        success:function(data){
	        	 if(data.code==1){
	        		 if(total==temp.length+count.length){
	        			 socket.send('/noti/finishNoti',{},JSON.stringify({moimNo:moimNo, userName: $("#userName").attr("data")}));
		 				 socket.send('/moim/finishNoti',{},JSON.stringify({moimNo:moimNo, userName:  $("#userName").attr("data") }));
	        		 }else{
	        			 socket.send('/noti/updateNoti',{},JSON.stringify({moimNo:moimNo, userName: $("#userName").attr("data")}));
		 				 socket.send('/moim/updateNoti',{},JSON.stringify({moimNo:moimNo, userName:  $("#userName").attr("data") }));
		        		 
	        		 }
	        		
	                 location.href='/moimDetail/moimTodoList/'+ moimNo;
	             }else{
	                 alert(data.message);
	             }
	        }, error:function(e){
	        }
	    });  
	}


function change_form(id){
//종료날짜 수정변경 폼 보여주기
	 	$("#changeDate"+id).show();
}

</script>
</html>