<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"    
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" content="text/html" http-equiv="Content-Type">
    <title>Insert title here</title>
       <css th:fragment="AdminSidebarCss">
         <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
   	 	 <link rel="icon" type="image/png" href="/assets/img/favicon.ico">
 		 <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    	 <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    	 <link href="/assets/css/light-bootstrap-dashboard.css?v=2.0.0 " rel="stylesheet" />
    	 <!-- CSS Just for demo purpose, don't include it in your project -->
    	 <link href="/assets/css/demo.css" rel="stylesheet" />
        </css> 
     
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Light Bootstrap Dashboard - Free Bootstrap 4 Admin Dashboard by Creative Tim</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
  
    <!-- CSS Files -->
    
</head>
<body>
<div th:fragment="sidebar">
        <div class="sidebar" data-image="/assets/img/sidebar-5.jpg">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="http://www.creative-tim.com" class="simple-text">
                        Creative Tim
                    </a>
                </div>
                <ul class="nav">
                    <li ><!-- class="nav-item active" -->
                        <a class="nav-link" href="/admin/adminMenu">
                            <i class="nc-icon nc-chart-pie-35"></i>
                            <p>메뉴추가</p>
                        </a>
                    </li>
                    
                    <li>
                        <a class="nav-link" href="/admin/adminPeople">
                            <i class="nc-icon nc-notes"></i>
                            <p>Table List</p>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
        
            <!-- <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        <ul class="footer-menu">
                            <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Company
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Portfolio
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Blog
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-center">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                        </p>
                    </nav>
                </div>
            </footer> -->
            <script src="/publ/js/jquery/jquery-3.4.1.min.js"></script>
    </div>
</body>
<!--   Core JS Files   -->


</html>