<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>

</style>

<body>
	<div th:fragment="center">
	<div id="wrap">
	<section id="container">
		<div class="vis_box"> 
			<h2 class="title">Team Platform <br>Let's Fruit</h2>
            <form th:action="@{/moimlistView/01}">
	            <div class="search_input_box">
	            	<input type="text" placeholder="입력하세요" name="title"><button>Search</button>
	            </div>
            </form>
			<p></p>
            <img src="/publ/images/layout/down.png" class="down_icon">
		</div>
        [[${principal}]]
        <div class="crew_chart">
        	<div class="crew_chart_bg"></div>
        	<div class="inner_2">
            	<p class="crew_chart_name"><!-- Crew name --></p>
                <div class="slider-counter"></div>
                <div>
                <div class="slider owl-carousel owl-theme">
                      <div>
                      		<p class="chart_p"><span>(프로젝트 이름)</span><span>BEST</span>크루1</p>
                            
                            <div class="chart_bottom">
                            	<p>전체팀</p>
                                <div class="percentage mid">
											<div class="bar">
												<div class="active" style="transition: all 1s ease-in-out 0s; width: 40.17%;"><span class="o_point"></span><span class="point_text">40%</span></div>
                                                <p style="padding-top:10px; font-size:15px; color:#bdbdbd"><span style="float:left">0</span><span style="float:right">95</span></p>
											</div>
											
										</div>
                                <p>나의 프로젝트</p>
                                <div class="percentage high">
											<div class="bar">
												<div class="active" style="transition: all 1s ease-in-out 0s; width: 70%;"><span class="o_point"></span><span class="point_text">70%</span></div>
                                                <p style="padding-top:10px; font-size:15px; color:#bdbdbd"><span style="float:left">0</span><span style="float:right">95</span></p>
											</div>
								</div>
                            </div>
                      </div>
                      <div>
                      		<div class="chart_top">
                            	<p class="porject_name">Project Name2</p>
                                <p class="sub_text">현재 진행중인 나의 프로젝트 갯수</p>
                                <div class="percentage high">
                                        <div class="bar">
                                                <div class="active" style="transition: all 1s ease-in-out 0s; width: 70%;"><span class="o_point"></span><span class="point_text">70%</span></div>
                                                    <p style="padding-top:10px; font-size:15px; color:#bdbdbd"><span style="float:left">0</span><span style="float:right">20</span></p>
                                                </div>
                                        </div>
                                 </div>
                                 <ul class="todo">
                                 	<li class="title">To Do</li>
                                    <li><input type="checkbox" id="type1" class="cb2"><label for="type1"></label>스토리보드 3-1 페이지 디벨롭</li>
                                    <li><input type="checkbox" id="type2" class="cb2"><label for="type2"></label>크루찾기 페이지 레이아웃 구상하기 </li>
                                    <li><input type="checkbox" id="type3" class="cb2"><label for="type3"></label>개발 관련 이슈 테스트하기</li>
                                    <li><input type="checkbox" id="type4" class="cb2"><label for="type4"></label>개발 관련 이슈 테스트하기</li>
                                 </ul>
                      </div>
                      <div>
                      		<p class="chart_p"><span>(프로젝트 이름)</span><span>BEST</span>크루3</p>
                            
                            <div class="chart_bottom">
                            	<p>전체팀</p>
                                <div class="percentage mid">
											<div class="bar">
												<div class="active" style="transition: all 1s ease-in-out 0s; width: 40.17%;"><span class="o_point"></span><span class="point_text">40%</span></div>
                                                <p style="padding-top:10px; font-size:15px; color:#bdbdbd"><span style="float:left">0</span><span style="float:right">95</span></p>
											</div>
											
										</div>
                                <p>나의 프로젝트</p>
                                <div class="percentage high">
											<div class="bar">
												<div class="active" style="transition: all 1s ease-in-out 0s; width: 70%;"><span class="o_point"></span><span class="point_text">70%</span></div>
                                                <p style="padding-top:10px; font-size:15px; color:#bdbdbd"><span style="float:left">0</span><span style="float:right">95</span></p>
											</div>
								</div>
                            </div>
                      </div>
                      <div>
                      		<div class="chart_top">
                            	<p class="porject_name">Project Name4</p>
                                <p class="sub_text">현재 진행중인 나의 프로젝트 갯수4</p>
                                <div class="percentage high">
                                        <div class="bar">
                                                <div class="active" style="transition: all 1s ease-in-out 0s; width: 70%;"><span class="o_point"></span><span class="point_text">70%</span></div>
                                                    <p style="padding-top:10px; font-size:15px; color:#bdbdbd"><span style="float:left">0</span><span style="float:right">20</span></p>
                                                </div>
                                        </div>
                                 </div>
                                 <ul class="todo">
                                 	<li class="title">To Do</li>
                                    <li><input type="checkbox" id="type1" class="cb2"><label for="type1"></label>스토리보드 3-1 페이지 디벨롭</li>
                                    <li><input type="checkbox" id="type2" class="cb2"><label for="type2"></label>크루찾기 페이지 레이아웃 구상하기 </li>
                                    <li><input type="checkbox" id="type3" class="cb2"><label for="type3"></label>개발 관련 이슈 테스트하기</li>
                                    <li><input type="checkbox" id="type4" class="cb2"><label for="type4"></label>개발 관련 이슈 테스트하기</li>
                                 </ul>
                      </div>
                </div>
                </div>
            </div>
        </div>
       
		<div id="content">
			<div class="inner">
				<div class="find_crew">
                	<div class="title_main_box">
						<span class="title_main">크루 둘러보기</span>
                        
                        <a href="/moimlistView/01" class="more_crew_list">더보기</a>
                    </div>
					<div class="bottom_box">
						<div class="grid_item_box">
						<div class="grid_item add_team"><a href="/moimMakeView"><div class="add_box"><div class="add_cont"><span class="icon"></span>새로운 팀을<br />만들어보세요!</div></div></a></div>
							<tr th:each="moimList : ${moimList}">
							<div class="grid_item card">
								<a th:href="@{'/moimlistView/moimdetailView/' + ${moimList.id}}">
									<div class="img_box">
										<img
												th:src="${moimList.imageName!=null} ? ${'/getMoimImage/'+moimList.imageName+'.'+moimList.imageExtension} : '/images/img_4.jpg'"
												alt="Image" class="img-fluid rounded"
												style="height: 200px; width: 500px" />
										<div class="state">
											<span class="person"><span class="icon"></span>[[${moimList.moimpeople.size()}]]/[[${moimList.peopleLimit}-1]]</span>
											<span class="type">[[${moimList.category.commName}]]</span>
										</div>
									</div>
									<div class="cont_box">
										<strong>[[${moimList.title}]]</strong>
										<p><td
													th:text="${#strings.length(moimList.intro)>10} ? ${#strings.substring(moimList.intro,0,10)+'...'} : ${moimList.intro}"
													id="moimtitle" /></p>
										<div class="tag"><span>
														[[${moimList.hashtag}]]</span></div>
										<div class="percentage">
											<div class="bar">
												<div class="active"></div>
											</div>
											<span class="txt"><span>[[${moimList.progresspercent}]]</span>%</span>
										</div>
										<div class="util_box">
											<span class="like"><span class="icon"></span>55</span>
											<span class="place"><span class="icon"></span>[[${moimList.sidoname}]]&nbsp&nbsp[[${moimList.sigoonname}]]</span>
										</div>
									</div>
								</a>
							</div>
							</tr>
						</div>
					
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="footer_text_section">
    	<div class="inner">
        	<p class="main_text">
            	Jump out the window if you are the object of passion. <br>
				Flee it if you feel it. <br>
				Passion goes, boredom remains.
            </p>
            <p class="sub_text"> Gabriel Coco Chanel</p>
            <a href="/moimMakeView" class="create_crew">Create New Crew</a>
        </div>
    </section>
	</div>   
	</div>
</body>


</html>