<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"    
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
    <div th:fragment="footer">
        <footer id="footer">
			<div class="inner">
				<span class="f_logo"><img src="/publ/images/layout/logo_w.png" alt="Fruit 로고"></span>
				<div class="f_cont">
					<div class="f_util">
						<ul>
							<li><a href="#none">프룻사용법</a></li>
							<li><a href="#none">프룻 소개</a></li>
							<li><a href="#none">제휴문의</a></li>
							<li><a href="#none">이용약관</a></li>
							<li><a href="#none">개인정보처리방침</a></li>
							<li><a href="#none">사이트맵</a></li>
						</ul>
					</div>
					문의이메일:fruitteamsup@gmail.com
					<span class="copy">ⓒ2020. Fruit(프룻) all rights reserved.</span>
				</div>
			</div>
		</footer>
    </div>
           
    </body>
</html>