<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id"
	content="	681877465979-hbu3jluica1eddcndkvl52n6h10jq6sf.apps.googleusercontent.com">
<title>Insert title here</title>
<css th:replace="layout/header::headerCss" />
</head>
<style>
#login {
	width: 50%;
	float: left;
}

#social {
	width: 50%;
	float: right;
	vertical-align: top;
	margin-top: 35px;
}

#button {
	width: 100%;
	float: right;
	margin: 0 auto;
	margin-top: 10px;
}

</style>
<body>
	<p th:if="${AuthError}" class="error">이메일 인증을 해주세요!</p>
	
   	<a href="/">뒤로 가기</a>
	
</body>
</html>