<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <css th:replace="layout/header::headerCss"/> 
   <link th:href="@{/css/people/profile.css}" rel="stylesheet" />
   <style>
   /* Button used to open the contact form - fixed at the bottom of the page */
 
.open-button {
  background-color: #555;
  color: white;
 
}
/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
/* Add styles to the form container */
.form-container {
  max-width: 1500px;
  height: 700px;
  padding: 100px; 
  background-color: white;
}
/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}
/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
   </style>
</head>
<body onload="myMoimList()">
<div th:replace="layout/header::header"/>
 <div id="peopleId" th:data-peopleId="${peopleinfo.id}"></div> 
 <!--컨텐츠 시작-->
        <section id="container" class="mypage">
            <div id="contents">
                <div class="inner">
                    <form action="" method="post">
                        <div class="mypage_left">
                            <div class="thumb">
                                <img src="../images/contents/mypage_profile_thumb.png" alt="사용자 썸네일">
                            </div>
                            <div class="name">[[${peopleinfo.email}]]</div>
                            <div class="delete"><a id="people_delete_btn">탈퇴하기</a></div>
                        </div>
                        <div class="mypage_right">
                            <div class="tab_header">
                                <div class="tab_box">
                                    <div><a href="javascript:void(0)" onclick="tab(this,'.tab_cont','#tab1')"  class="tab_h on">내정보</a></div>
                                    <div><a href="javascript:void(0)" onclick="tab(this,'.tab_cont','#tab2')" class="tab_h">알림</a></div>
                                    <div><a href="javascript:void(0)" onclick="tab(this,'.tab_cont','#tab3')" class="tab_h">프로필수정하기</a></div>
                                </div>
                            </div>
                            <div class="tab_cont_box">
                                <div id="tab1" class="tab_cont">
                                    <div class="tab_inner">
                                        <div class="box_name">
                                            <span class="bo">User profile</span><span>[[${peopleinfo.name}]]</span>
                                        </div>
                                        <div class="box_about">
                                            <span class="bo">About</span><span>[[${peopleinfo.job}]]</span>
                                        </div>
                                        <div class="box_made">
                                            <span class="bo">*내가 만든 스터디</span>
                                            <div class="bl" id="list">
                                                <!-- <ul>
                                                    <li>코딩 스터디</li>
                                                    <li>코딩 스터디</li>
                                                    <li>코딩 스터디</li>
                                                    <li>코딩 스터디</li>
                                                </ul> -->
                                            </div>
                                        </div>
                                        <div class="box_join">
                                            <span class="bo">*내가 가입한 스터디</span>
                                            <div class="bl" id="mademoimlist">
                                                <!-- <ul>
                                                    <li>코딩 스터디</li>
                                                    <li>코딩 스터디</li>
                                                    <li>코딩 스터디</li>
                                                    <li>코딩 스터디</li>
                                                </ul> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab2" class="tab_cont" style="display: none">
                                    <div class="tab_inner">

                                    </div>
                                </div>
                                <div id="tab3" class="tab_cont" style="display: none">
                                    <div class="tab_inner">
                                        <div class="box_id">
                                            <span class="bo">*아이디(필수)</span>
                                            <div class="bl">
                                                <input type="text" class="one" name="" th:value="${peopleinfo.email}" readonly="readonly">
                                            </div>
                                        </div>
                                        <div class="box_name">
                                            <span class="bo">*이름</span>
                                            <div class="bl">
                                                <input type="text" class="one" name="" th:value="${peopleinfo.name}">
                                            </div>
                                        </div>
                                        <div class="box_thumb">
                                            <span class="bo">*사진바꾸기</span>
                                            <div class="bl">
                                                <div class="filebox">
                                                    <label for="ex_file">파일선택 +</label>
                                                    <input type="file" id="ex_file">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box_site">
                                            <span class="bo">*웹사이트</span>
                                            <div class="bl">
                                                <input type="text" class="one" name="" value="회원 사이트">
                                            </div>
                                        </div>
                                        <div class="box_add">
                                            <span class="bo">*Address</span>
                                            <div class="bl">
                                                <input type="text" class="three" name="" value="회원 주소1">
                                                <input type="text" class="three" name="" value="회원 주소2">
                                                <input type="text" class="three" name="" value="회원 주소3">
                                            </div>
                                        </div>
                                        <div class="btn submit">
                                            수정하기
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <div th:replace="layout/footer::footer"/>
        <!--컨텐츠 끝-->
<script src="/js/people/myprofile.js"></script>
   <script type="text/javascript"
			src="https://www.gstatic.com/charts/loader.js"></script>
<script>
/* 작성한글보기 팝업창 시작 by choiseongjun */
function openForm() {
  document.getElementById("myForm").style.display = "block";
}
function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
function tab(e,hide, show) {
    console.log($(e));

    $(hide).hide(0);
    $(show).show(0);
    $(e).removeClass('on');
    var a = $(e).attr('class');
    $("."+a).removeClass('on');
    $(e).addClass('on');
}
$("#open_popup").click(function(){
	$(".login_popup").show()
	
	})
	$(".change_btn").click(function(){	
		
		if($("#change").val()!=$("#changeCk").val()){
				alert("새비밀번호와 확인이 일치하지 않습니다");
				$("#changeCk").val("");
				return;
			}
	var param={
			change: $("#change").val(),
			peopleId: $("#peopleId").attr("data")
	}
			 $.ajax({
			      url:'/auth/changePassword',		
			      contentType: "application/json; charset=utf-8",
			      data : JSON.stringify(param),
			    	type: "POST",
			        dataType: "json",
			        success:function(data){
			        	alert(data.message);
			        	$(".login_popup").toggle();
			        }
			        	
			        });
			
		});
		  
	
/* 작성한글보기 팝업창 끝 by choiseongjun */
</script>
</body>
</html>