<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"    
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id"
	content="	681877465979-hbu3jluica1eddcndkvl52n6h10jq6sf.apps.googleusercontent.com">
<title>Insert title here</title>
<css th:replace="layout/header::headerCss" />

</head>

<body>
	<div th:replace="layout/header::header" />
	<form th:action="@{/appLogin}" method="POST">
	<div class="login_popup">
			<p class="popup_main_text"><span>프룻</span>에 오신 것을 환영합니다!</p>
	        <p class="popup_sub_text">
	        	<span>프룻</span>은 ~이러한 <br>
	플랫폼 서비스입니다.
	        </p>
	        <div class="btn_box">
	        	<a href="/login/google"><img src="/publ/images/layout/google.png" alt="Fruit 로고">Google</a>
	            <a href="#"><img src="/publ/images/layout/facebook.png" alt="Fruit 로고">Facebook</a>
	        </div>
	        <ul class="input_login_box">
	        	<li><input type="text" name="email"  placeholder="이메일"></li>
	            <li><input type="password" name="password"  placeholder="비밀번호"></li>
	        </ul>
	        <input type="submit" class="login_btn" value="로그인"/>
	        <p th:if="${loginError}" class="error" style="color: red;">잘못된 아이디 또는 비밀번호입니다</p>
	       <p th:if="${code}" class="error" style="color: blue;" th:text="${message}"></p>
  <br>
	        <div class="footer_login_btn">
	<a href="#" class="join_btn">회원가입</a>
	            <a href="#" id="findFormbtn" class="find_login">비밀번호를 잊으셨다면</a>
	        </div>
	      
	</div>
	</form>
	<div class="login_popup" id="find">
		<p class="popup_main_text"><span>프룻</span>회원가입</p>
	        <p class="popup_sub_text">
	        	Fruit은 ~이러한<br>
	플랫폼 서비스입니다.
	        </p>
	  <div  class="input_login_box">
		        	해당 이메일로 임시비밀번호를 보내드립니다.<br/>
		        	 	 아이디 : <input type="text" id="emailFind"/> <br/>
		        	 	 <button id="find_btn" class="login_btn">전송</button>
		      	  </div>
	</div>
	<form  name="signUp" action="/signup" method="POST" enctype='multipart/form-data'>
	<div class="find_login_popup">
			<p class="popup_main_text"><span>프룻</span>회원가입</p>
	        <p class="popup_sub_text">
	        	Fruit은 ~이러한<br>
	플랫폼 서비스입니다.
	        </p>
	        <div class="btn_box">
	        	<a href="/login/google"><img src="/publ/images/layout/google.png" alt="Fruit 로고">Google</img></a>
	            <a href="#"><img src="/publ/images/layout/facebook.png" alt="Fruit 로고">Facebook</a>
	        </div>
	        <ul class="input_login_box">
	        	<li><input type="email" id="email" name="email" placeholder="이메일"></li>
	            <li><input type="password" id="password" name="password"  placeholder="비밀번호"></li>
	            <li><input type="password" id="passwordCk" placeholder="비밀번호 확인"></li>
	        </ul>
	        <div class="join_chk_box">
	        		<input type="checkbox" name="joinChk" id="join_chk"class="cb2"><label for="join_chk"></label>
	                <p><a onclick="viewFruitPolicy()"><span >프룻</span></a> 이용약관 및 <a onclick="viewPolicy()"><span >개인정보취급방침</span></a>에 동의합니다.</p>
	        </div>
	     		      <a href="#" class="login_btn" id="finish_join">회원가입</a>
	        <div class="footer_login_btn">
	        	<a href="#" class="back_loing finish_join">로그인화면으로 가기</a>
	        </div>
	</div>
	<div class="my_type_popup" id="viewPolicy">
	
	<a onclick="closePolicy()">X</a>
			<p class="popup_main_text"><span>당신을 알려주세요</span></p>
	        <p class="popup_sub_text">
	        	‘닉네임’의 관심사에 맞게 <br>
	프룻이 추천해드릴게요!
	        </p>
	        <ul class="my_type_cho_ul">
	            	
	        	<li>
	            	<프룻>은 개인정보보호법에 따라 이용자의 개인정보 보호 및 권익을 보호하고 개인정보와 관련한 이용자의 고충을 원활하게 처리할 수 있도록 다음과 같은 처리방침을 두고 있습니다.

<프룻>은 개인정보처리방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.

- 본 방침은 2018년 5월1일 부터 시행됩니다.


1. 개인정보의 처리 목적

<프룻>은 개인정보를 다음의 목적을 위해 처리합니다. 처리한 개인정보는 다음의 목적이외의 용도로는 사용되지 않으며 이용 목적이 변경될 시에는 사전동의를 구할 예정입니다.

가. 홈페이지 회원가입 및 관리

- 회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별·인증, 회원자격 유지·관리, 서비스 부정이용 방지, 각종 고지·통지, 고충처리, 분쟁 조정을 위한 기록 보존 등을 목적으로 개인정보를 처리합니다.

나. 서비스 제공

- 서비스 제공, 맞춤 서비스 제공, 본인인증 등을 목적으로 개인정보를 처리합니다.

다. 마케팅 및 광고에 활용

- 신규 서비스 개발 및 맞춤 서비스 제공, 이벤트 및 광고성 정보 제공 및 참여기회 제공 등을 목적으로 개인정보를 처리합니다.


2. 개인정보 수집 현황

가. 개인정보 항목 : 아이디, 패스워드, 이메일, 서비스 이용 기록, 접속 로그(User Agent), 쿠키, 접속 IP 정보, FCM Token(모바일 앱)

나. 수집방법 : 서버 내 추출 후 DB보관

다. 보유근거 : 원할한 서비스 이용, 서비스 부정이용 방지, 접속 통계 파악

라. 보유기간 : 3년

마. 관련법령 : 신용정보의 수집/처리 및 이용 등에 관한 기록, 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년


3. 개인정보의 처리 및 보유 기간

가. <프룻>은 법령에 따른 개인정보 보유·이용기간 또는 정보주체로부터 개인정보를 수집시에 동의 받은 개인정보 보유·이용기간 내에서 개인정보를 처리, 보유합니다.

나. 각각의 개인정보 처리 및 보유 기간은 다음과 같습니다.

- 홈페이지 회원가입 및 관리와 관련한 개인정보는 수집, 이용에 관한 동의일로부터 3년까지 위 이용목적을 위하여 보유, 이용됩니다.


4. 정보주체와 법정대리인의 권리·의무 및 그 행사방법 이용자는 개인정보주체로써 다음과 같은 권리를 행사할 수 있습니다.

가. 정보주체는 <프룻>에 대해 언제든지 개인정보 열람, 정정, 삭제, 처리정지 요구 등의 권리를 행사할 수 있습니다.

나. <가>항에 따른 권리 행사는 <프룻>에 대해 개인정보 보호법 시행령 제41조 제1항에 따라 서면, 전자우편, 모사전송(FAX) 등을 통하여 하실 수 있으며 <프룻>은 이에 대해 지체 없이 조치하겠습니다.

다. <가>항에 따른 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다. 이 경우 개인정보 보호법 시행규칙 별지 제11호 서식에 따른 위임장을 제출하셔야 합니다.

라. 개인정보 열람 및 처리정지 요구는 개인정보보호법 제35조 제5항, 제37조 제2항에 의하여 정보주체의 권리가 제한 될 수 있습니다.

마. 개인정보의 정정 및 삭제 요구는 다른 법령에서 그 개인정보가 수집 대상으로 명시되어 있는 경우에는 그 삭제를 요구할 수 없습니다.

바. <프룻>은 정보주체 권리에 따른 열람의 요구, 정정·삭제의 요구, 처리정지의 요구 시 열람 등 요구를 한 자가 본인이거나 정당한 대리인인지를 확인합니다.


5. 개인정보의 파기

<프룻>은 원칙적으로 개인정보 처리목적이 달성된 경우에는 지체없이 해당 개인정보를 파기합니다. 파기절차, 기한 및 방법은 다음과 같습니다.

가. 파기절차

- 이용자가 입력한 정보는 목적 달성 후 내부 방침 및 기타 관련 법령에 따라 일정기간 저장된 후 혹은 즉시 파기됩니다.

나. 파기기한

- 이용자의 개인정보는 개인정보의 보유기간이 경과된 경우에는 보유기간의 종료일로부터 5일 이내에, 개인정보의 처리 목적 달성, 해당 서비스의 폐지, 사업의 종료 등 그 개인정보가 불필요하게 되었을 때에는 개인정보의 처리가 불필요한 것으로 인정되는 날로부터 5일 이내에 그 개인정보를 파기합니다.

다. 파기방법

- 내부 방침에 따라 개인정보를 임의의 목 값으로 변경 : 서비스 운영에 혹시 모를 오류가 없도록 하는 최소한의 파기방법


6. 개인정보 자동 수집 장치의 설치·운영 및 거부에 관한 사항

가. <프룻>은 개별적인 맞춤서비스를 제공하기 위해 이용정보를 저장하고 수시로 불러오는 ‘쿠키(cookie)’를 사용합니다.

나. 쿠키는 웹사이트를 운영하는데 이용되는 서버(http)가 이용자의 컴퓨터 브라우저에게 보내는 소량의 정보이며 이용자들의 PC 컴퓨터내의 하드디스크에 저장되기도 합니다.

- 쿠키의 사용 목적 : 이용자가 편리하게 서비스를 이용할 수 있도록 자동로그인, 푸시알림 설정을 위해 사용됩니다.

- 쿠키의 설치·운영 및 거부 : 웹브라우저 상단의 도구>인터넷 옵션>개인정보 메뉴의 옵션 설정을 통해 쿠키 저장을 거부 할 수 있습니다.

- 쿠키 저장을 거부할 경우 자동로그인, 푸시알림 설정에 어려움이 발생할 수 있습니다.


7. 개인정보 보호책임자 작성

가. <프룻>은 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다.

▶ 개인정보 보호책임자

- 성명 : 

- 이메일 : 


8. 개인정보 처리방침 변경

가. 개인정보처리방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 변경사항의 시행 7일 전부터 공지사항을 통하여 고지할 것입니다.


9. 개인정보의 안전성 확보 조치

<프룻>은 개인정보보호법 제29조에 따라 다음과 같이 안전성 확보에 필요한 기술적/관리적 및 물리적 조치를 하고 있습니다.

가. 개인정보 취급 직원의 최소화 및 교육

- 개인정보를 취급하는 직원을 지정하고 담당자에 한정시켜 최소화 하여 개인정보를 관리하는 대책을 시행하고 있습니다.

나. 개인정보의 암호화

- 개인정보의 패스워드는 암호화 되어 저장 및 관리되고 있어, 본인만 알 수 있습니다.

다. 접속기록의 보관

- 접속한 기록을 최소 6개월 이상 보관, 관리하고 있습니다.

라. 개인정보에 대한 접근 제한

- 개인정보를 처리하는 DB시스템에 대해 접근권한을 부여하여 접근통제를 위한 조치를 취하고 있습니다.
	            </li>
	            
	        </ul>
	       
	
	</div>
	<div class="my_type_popup" id="viewFruitPolicy">
	<a onclick="closeFruitPolicy()">X</a>
			<p class="popup_main_text"><span>당신을 알려주세요</span>  </p>
	        <p class="popup_sub_text">
	        	‘닉네임’의 관심사에 맞게 <br>
	프룻이 추천해드릴게요!
	        </p>
	        <ul class="my_type_cho_ul">
	            	
	        	<li>
	         제1조(목적)

이 프룻 약관(이하 '약관')은 프룻(이하 '앱')가 제공하는 프룻 서비스(이하 '서비스')를 이용함에 있어 이용자의 권리, 의무 및 책임사항, 기타 필요한 사항을 규정함을 목적으로 합니다.

- 프룻 서비스란 프룻 앱을 통해 이루어지고 제공되는 모든 상호작용을 말합니다.


제2조(정의)

1. '이용자'라 함은 앱에 접속하여 약관에 따라 앱이 제공하는 서비스를 받는 '회원' 및 '비회원'을 말합니다.

2. '회원'이라 함은 앱에 회원등록을 한 자로서 계속적으로 앱이 제공하는 서비스를 이용할 수 있는 자를 말합니다.

3. '비회원'이라 함은 회원등록을 하지 않고 앱이 제공하는 서비스를 이용하는 자를 말합니다.

4. '서비스'라 함은 게시물, 댓글, 대댓글 등 앱이 제공하는 모든 기능 및 정보를 누리는 행위를 말합니다.

5. '회원등록'이라 함은 앱이 정한 가입양식에 따라 회원정보를 기입하고 가입하기 버튼을 통해 앱의 데이터베이스 안에 정보가 저장되는 것을 말합니다.

6. '아이디'라 함은 회원의 식별과 회원의 서비스 이용을 위해 회원이 선정하고 앱이 승인한 문자와 숫자 조합을 의미합니다.

7. '패스워드'라 함은 회원이 부여받은 아이디와 일치되는 회원임을 확인하고 암호화 관리되는 회원이 정한 모든 문자 조합을 의미합니다.

8. '이메일'이라 함은 회원의 식별과 회원의 서비스 이용을 위해 회원등록 시 기입하고 본인임을 직접 인증한 2차 식별자를 말합니다.


제3조(약관 등의 명시와 설명 및 개정)

1. 약관의 내용과 이용자의 불만을 처리할 수 있는 곳(문의사항, 이메일)을 이용자가 쉽게 알 수 있도록 페이지에 게시합니다. 다만, 약관의 내용은 이용자가 연결을 통해 볼 수 있도록 할 수 있습니다.

2.「약관의 규제에 관한 법률」,「전자문서 및 전자거래기본법」,「전자서명법」,「정보통신망 이용촉진 및 정보보호 등에 관한 법률」등 관련 법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.

3. 약관을 개정할 경우 적용일자 및 개정사유를 명시하여 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다. 다만, 이용자에게 불리하게 약관내용을 변경하는 경우에는 최소한 30일 이상의 사전 유예기간을 두고 공지합니다. 이 경우에는 개정 전 내용과 개정 후 내용을 명확하게 비교하여 이용자가 알기 쉽도록 표시합니다.

4. 약관을 개정할 경우 그 개정약관은 그 적용일자 이후에 체결되는 계약에만 적용되고 그 이전에 이미 체결된 계약에 대해서는 개정 전의 약관조항이 그대로 적용됩니다. 다만, 이미 계약을 체결한 이용자가 제3항에 의한 개정약관 공지기간 내에 개정약관 조항의 적용을 받기 원하는 뜻을 앱에 문의하여 동의를 받은 경우에는 개정약관 조항이 적용됩니다.


제4조(서비스의 제공 및 변경)

1. 앱은 다음과 같은 서비스를 수행합니다.

- 스터디 관련 커뮤니티(게시물, 댓글, 대댓글) 사용 및 정보 제공

- 댓글, 대댓글에 대한 이메일, 모바일 푸시알림 정보 제공

- 스터디 관련 소식, 이벤트 정보 제공

- 스터디 외 관련 소식, 이벤트 정보 제공

- 기타 앱이 정하는 업무

2. 앱은 서비스 또는 기술적 사양 변경의 경우에는 장차 체결되는 계약에 의해 제공할 서비스 내용을 변경할 수 있습니다. 이 경우에는 변경된 서비스 내용 및 제공일자를 명시하여 즉시 공지합니다.

3. 앱이 제공하기로 이용자와 계약을 체결한 서비스의 내용을 기술적 사양의 변경 등의 사유로 변경할 경우에는 그 사유를 이용자에게 즉시 공지합니다.


제5조(서비스의 중단)

1. 앱은 버그 또는 오류 발생, 유지보수, 점검, 장비교체 및 고장, 통신두절 등의 사유가 발생한 경우에는 서비스의 제공을 일시적으로 중단할 수 있습니다.

2. 앱은 제1항의 사유로 서비스 제공이 일시적으로 중단됨으로 인하여 이용자 또는 제3자가 입은 손해에 대해 책임지지 않습니다.

3. 사업종목의 전환, 사업의 포기, 업체 간의 통합 등의 이유로 서비스를 제공할 수 없게 되는 경우에는 제8조에 정한 방법으로 이용자에게 통지합니다.


제6조(회원가입)

1. 이용자는 앱이 정한 가입양식에 따라 회원정보를 기입한 후 이 약관에 동의한다는 의사표시를 함으로써 회원가입을 신청합니다.

2. 앱은 제1항과 같이 회원으로 가입할 것을 신청한 이용자 중 다음 각 호에 해당하지 않는 한 회원으로 등록합니다.

- 회원가입 신청자가 이 약관 제7조 의하여 이전에 회원자격을 상실한 적이 있는 경우, 다만 제7조에 의한 회원자격 상실 후 3년이 경과한 자로서 앱의 재가입 승낙을 얻은 경우에는 예외로 한다.

- 회원등록 내용에 허위, 기재누락, 오기가 있는 경우

- 서비스 운영에 지장이 있다고 판단되는 경우

3. 회원가입 계약의 성립 시기는 앱의 승낙이 회원에게 도달한 시점으로 합니다.

4. 앱은 인증된 한 개의 이메일에 중복되지 않은 한 개의 아이디만을 허용합니다. 사용중이거나 또는 중지된 아이디에 인증된 이메일로는 재가입이 불가능하며 아이디 탈퇴처리 후 해당 이메일로 재가입이 가능합니다.

5. 회원이 등록한 정보에 변경사항이 있는 경우, 상당한 기간 이내에 앱의 수정방법을 통한 수정 또는 부득이 수정이 어려울 경우 이메일 또는 문의사항으로 알려야 합니다.


제7조(회원 탈퇴 및 자격상실 등)

1. 회원은 앱에 언제든지 탈퇴를 요청할 수 있으며 앱은 즉시 회원탈퇴를 처리합니다.

2. 회원이 다음 각 호의 사유에 해당하는 경우 앱은 회원의 자격을 제한 및 정지시킬 수 있습니다.

- 회원가입 또는 게시물, 댓글, 대댓글, 문의사항에 허위 내용을 등록한 경우

- 다른 회원의 앱 이용을 방해하거나 그 정보를 도용하는 등 서비스 내 질서를 위협하는 경우

- 앱을 이용하여 법령 또는 이 약관이 금지하거나 공서양속에 반하는 행위를 하는 경우

3. 앱은 회원의 자격을 제한, 정지시킨 후 동일한 행위가 2회 이상 반복되거나 30일 이내에 그 사유가 시정되지 아니하는 경우 회원의 자격을 영구 상실시킬 수 있습니다.

4. 앱이 회원의 자격을 상실시키는 경우에는 회원등록을 말소합니다. 이 경우 회원에게 이를 통지하고, 회원등록 말소 전에 최소한 30일 이상의 기간을 정하여 소명할 기회를 부여합니다.

5. 말소된 회원의 정보는 서비스 운영에 혹시 모를 오류가 없도록 최소한의 정보(아이디, 이메일)를 유지합니다.


제8조(이용제한)

1. 앱은 제7조 회원 자격상실에 의해 경고, 일시정지, 영구정지, 영구탈퇴 순으로 단계적 제한을 할 수 있습니다.

2. 자격상실 내용에 따라 단계적 제한, 권한적 제한을 받을 수 있습니다.

3. 불법, 악성, 매크로 프로그램 사용은 회원 영구정지, 영구탈퇴 제한을 받게 됩니다.


제9조(회원에 대한 통지)

1. 회원에 대한 통지를 하는 경우 회원등록 시 앱에 인증된 이메일 주소로 할 수 있습니다.

2. 불특정 다수 회원에 대한 통지의 경우 1주일 이상 앱의 공지사항에 게시함으로써 개별통지에 갈음할 수 있습니다. 다만, 회원에 대한 중대한 영향을 미치는 사항에 대해서는 개별통지를 합니다.


제10조(개인정보보호)

1. 이용자의 개인정보 수집시 서비스 제공을 위하여 필요한 범위에서 최소한의 개인정보를 수집합니다.

2. 회원가입 시 필요하지 않은 정보를 미리 수집하지 않습니다. 다만, 관련 법령상 의무이행을 위하여 본인확인이 필요한 경우로서 최소한의 특정 개인정보를 수집하는 경우에는 그러하지 아니합니다.

3. 이용자의 개인정보를 수집, 이용하는 때에는 당해 이용자에게 그 목적을 고지하고 동의를 받습니다.

4. 수집된 개인정보를 목적 외의 용도로 이용하지 않으며 새로운 이용목적이 발생한 경우 또는 제3자에게 제공하는 경우에는 이용, 제공단계에서 당해 이용자에게 그 목적을 고지하고 동의를 받습니다. 다만, 관련 법령에 달리 정함이 있는 경우에는 예외로 합니다.

5. 제2항과 제3항에 의해 이용자의 동의를 받아야 하는 경우에는 개인정보관리 책임자의 신원(이름, 이메일), 정보의 수집목적 및 이용목적, 제3자에 대한 정보제공 관련사항(제공받은자, 제공목적 및 제공할 정보의 내용) 등 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」 제22조제2항이 규정한 사항을 미리 명시하거나 고지해야 하며 이용자는 언제든지 이 동의를 철회할 수 있습니다.

6. 이용자는 언제든지 앱이 가지고 있는 자신의 개인정보에 대해 열람 및 오류 정정을 요구할 수 있으며 앱은 이에 대해 지체 없이 필요한 조치를 취할 의무를 집니다.

7. 개인정보 보호를 위하여 이용자의 개인정보를 취급하는 자를 최소한으로 제한합니다.

8. 앱 또는 그로부터 개인정보를 제공받은 제3자는 개인정보의 수집목적 또는 제공받은 목적을 달성한 때에는 당해 개인정보를 지체 없이 파기해야 합니다.

9. 개인정보의 수집, 이용, 제공에 관한 동의하기 선택사항을 미리 선택한 것으로 설정하지 않습니다.


제11조(앱의 의무)

1. 앱은 법령과 이 약관이 금지하거나 공서양속에 반하는 행위를 하지 않으며 이 약관이 정하는 바에 따라 지속적이고, 안정적으로 서비스를 제공 하는데 최선을 다하여야 합니다.

2. 앱은 이용자가 안전하게 서비스를 이용할 수 있도록 이용자의 개인정보 보호를 위한 패스워드 암호화를 통해 패스워드를 저장해야 합니다.


제12조(회원의 아이디 및 패스워드에 대한 의무)

1. 회원의 아이디와 패스워드에 관한 관리책임은 회원에게 있습니다.

2. 회원은 자신의 아이디 및 패스워드를 제3자에게 이용하게 해서는 안됩니다.

3. 회원이 자신의 아이디 및 패스워드를 도난당하거나 제3자가 사용하고 있음을 인지한 경우에는 바로 앱의 문의사항 또는 이메일을 통해 통보하고 안내가 있는 경우에는 그에 따라야 합니다.


제13조(이용자의 의무) 이용자는 다음 행위를 하여서는 안됩니다.

1. 신청 또는 변경시 허위내용 등록

2. 타인의 정보 도용

3. 앱이 정한 정보 이외의 정보 등의 송신 또는 게시

4. 기타 제3자의 저작권 등 지적재산권에 대한 침해

5. 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위

6. 외설 또는 폭력적인 메시지, 화상, 음성, 기타 공서양속에 반하는 정보를 앱에 공개 또는 게시하는 행위


제14조(저작권의 귀속)

1. 앱에서 작성된 저작물에 대한 저작권, 기타 지적재산권은 앱에게 귀속됩니다.

2. 이용자는 앱을 이용함으로써 얻은 정보 중 앱에게 지적재산권이 귀속된 정보를 앱의 사전 승낙없이 복제, 송신, 출판, 배포, 방송, 기타 등에 의하여 사용하거나 제3자에게 제공해서는 안됩니다.


제15조(게시물의 제한 또는 삭제)

1. 회원의 게시물이 다음 각 호에 해당하는 경우 앱은 해당 게시물을 제한하거나 삭제될 수 있습니다.

- 다른 회원 또는 제3자를 비방하거나 중상 모략으로 명예를 손상시키는 내용

- 음란물, 욕설 등 공서양속에 위반되는 내용의 정보, 문장, 도형 등을 유포하는 내용

- 범죄행위와 관련이 있다고 판단되는 내용

- 다른 회원 또는 제3자의 저작권 등 기타 권리를 침해하는 내용

- 종교적, 정치적 분쟁을 야기하는 내용

- 광고성 게시물

- 동일한 내용을 중복하여 다수 게시하는 게시물

- 서비스 운영에 방해되거나 피해를 준다고 판단되는 경우

2. 회원의 게시물이 법률상 이익 침해를 근거로 다른 회원 또는 제3자가 법적 조치를 해오는 경우 앱은 해당 게시물을 제한하거나 삭제될 수 있습니다.


제16조(이벤트 및 광고)

1. 이벤트 및 광고가 공지사항에 게재 되거나 이메일, 푸시알림을 통해 수신될 수 있습니다. 다만, 알림설정 변경을 통해 수신을 거부할 수 있습니다.

2. 앱 안에 있는 모든 페이지가 광고 게재의 대상이 될 수 있습니다.

3. 앱 내에 게재된 광고를 통한 손실과 손해에 대해 앱은 책임을 지지 않습니다.


제17조(분쟁해결)

1. 이용자가 제기하는 정당한 의견이나 불만을 반영하고 그 피해를 최소화 할 수 있도록 운영합니다.

2. 이용자로부터 제출되는 불만사항 및 의견은 우선적으로 그 사항을 처리합니다. 다만, 신속한 처리가 곤란한 경우에는 이용자에게 그 사유와 처리일정을 즉시 통보해 드립니다.


제18조(재판권 및 준거법)

1. 이용자 간에 발생한 분쟁에 관한 소송은 제소 당시의 이용자의 주소에 의하고 주소가 없는 경우에는 거소를 관할하는 지방법원의 전속관할로 합니다. 다만, 제소 당시 이용자의 주소 또는 거소가 분명하지 않거나 외국 거주자의 경우에는 민사소송법상의 관할법원에 제기합니다.

2. 이용자 간에 제기된 소송에는 한국법을 적용합니다.
	            </li>
	            
	        </ul>
	       
	
	</div>	
	
	<div class="my_type_popup">
			<p class="popup_main_text"><span>당신을 알려주세요</span></p>
	        <p class="popup_sub_text">
	        	‘닉네임’의 관심사에 맞게 <br>
	프룻이 추천해드릴게요!
	        </p>
	        <ul class="my_type_cho_ul">
	            	
	        	<li class="input_login_box"><p>닉네임</p><input type="text" id="name" name="name" placeholder="닉네임" ></li>
	        	<li><p>소개</p><textarea id="introduce" name="introduce" placeholder="소개를 작성해주세요" cols="35"></textarea></li>
	        	<li>
	            	<p>성별</p>
	                 <select id="sex" name="sex" class="select_pp" >
	                     <option value="F">여자</option>
	                     <option value="F">여자</option>
	                     <option value="M">남자</option>
	                  </select>
	            </li>
	            <li>
	            	<p>직업</p>
	                 <select id="job" name="job" class="select_pp" >
	                     <option  th:value="${jobs[0].commName}" th:text="${jobs[0].commName}"></option>
	                     <option th:each="job : ${jobs}" th:value="${job.commName}" th:text="${job.commName}"></option>
	                  </select>
	            </li>
	            <li>
	            	<p>관심사</p>
	                  <span th:each="list : ${interests}" th:if="${list.commName !='전체'}">
	               	   <input type="checkbox"  name="interest" th:value="${list.commCode}">
	               	   <span th:text="${list.commName}"></span>
	                  </span>
	                <input type="hidden" name="interests" id="interests">
	                  
	            </li>
	        </ul>
	        <a href="#" class="login_btn join_go_btn">완료!</a>
	
	</div>

     <!--        User Name : <input type="text" name="email"/> <br/><br/>
            Password: <input type="password" name="password"/> <br/><br/>
            <input type="submit" value="Login"/>
        -->
    </form> 
    	
	<input type="hidden" id="authMessage" th:value="${authMessage}">
<!-- 	<script src="/js/people/signin.js"></script> -->
    <script src="/js/common/loading.js" type="text/javascript"></script>
					<link href="/css/common/loading.css" rel="stylesheet" type="text/css" />
	<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<script type="text/javascript"
		src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js"
		charset="utf-8"></script>
	
	<script>
	$(document).ready(function(){
		$(".login_popup").show()
		if($("#authMessage").val()){
			alert($("#authMessage").val());	
			}
			$("#find").toggle();
		});
	$("#find_btn").click(function(){
		isLoading.start();
			 $.ajax({
			      url:'/auth/findPassword/'+$("#emailFind").val(),		
			      processData: false, //데이터를 쿼리 문자열로 변환하는 jQuery 형식 방지
			      contentType: "application/json; charset=utf-8",
			        processData: false, //데이터를 쿼리 문자열로 변환하는 jQuery 형식 방지
			        success:function(data){
			        	if(data.code=='1'){
			        		alert(data.message);
			        		$("#find").toggle();
			        		$(".login_popup").show();
			        		
			        	}
			        },
			        complete : function() {
		    			isLoading.stop();
		    	    }
			        	
			        });
			
		});
		  
	$("#findFormbtn").click(function(){
		$(".login_popup").toggle();
		$("#find").show();
		})
	$(".open_login_popup").click(function(){
		$(".login_popup").show()
		
		})
	$(".join_go_btn").click(function(){
			if($("#name").val()==""){
				alert("닉네임을 입력하세요.");
				return;
			}
			 $.ajax({
			      url:'/auth/checkName/'+$("#name").val(),		
			      processData: false, //데이터를 쿼리 문자열로 변환하는 jQuery 형식 방지
			      contentType: "application/json; charset=utf-8",
			        processData: false, //데이터를 쿼리 문자열로 변환하는 jQuery 형식 방지
			        async: false,
			        success:function(data){
			        	if(data.code=="true"){
			        		alert(data.message);
			        		$("#name").val("");
				        	flag= false;
			        		
			        	}else
			        		flag=true;
			        }
			        	
			        });
				if(flag){
					if($("input[name=interest]:checked").length==0){
						alert("관심사를 체크해주세요.");
						return;
					}
					
					//관심사들 모아서 값 설정
					var interests="";
					$("input[name=interest]:checked").each(function(i){

						interests+=$(this).val()+",";

						});
					$("#interests").val(interests.slice(0,-1));
					$(".my_type_popup").toggle()
					$(".find_login_popup").show()
				}
		
		
		})	
	$(".join_btn").click(function(){
			$(".login_popup").toggle()
			$(".my_type_popup").show()
		
		})
	$(".finish_join").click(function(){
			$(".find_login_popup").toggle()
		
		})

	$("#finish_join").click(function(){
		//비밀번호 확인과 비밀번호 일치 체크
		var email = $("#email").val();
		var exptext =  /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;

		if(email.match(exptext)==null){

		//이메일 형식이 알파벳+숫자@알파벳+숫자.알파벳+숫자 형식이 아닐경우			
		alert("이 메일형식이 올바르지 않습니다.");
		return;
		}
		//메일 존재할경우 code가 true되고 flag false되서 return
			 $.ajax({
			      url:'/auth/checkEmail/'+$("#email").val(),		
			      processData: false, //데이터를 쿼리 문자열로 변환하는 jQuery 형식 방지
			      contentType: "application/json; charset=utf-8",
			        processData: false, //데이터를 쿼리 문자열로 변환하는 jQuery 형식 방지
			        async: false,
			        success:function(data){
			        	if(data.code=="true"){
			        		alert(data.message);
			        		$("#email").val("");
							flag=false;
			        	}else
			        		flag=true;
			        }
			        	
			        });
		
		if(flag){ 
			if($("#password").val()!=$("#passwordCk").val()){
			alert("비밀번호와 비밀번호 확인이 일치하지 않습니다");
			$("#passwordCk").val("");
			return;
		}else	if($("input[name=joinChk]:checked").length==0){
			alert("이용약관에 동의하여야 이용가능합니다:(");
			return;
		}
		
			isLoading.start();
		    document.signUp.submit();
		        	
			
		}		
		
		})
		/* 구글 */
		function onSignIn(googleUser) {
			// Useful data for your client-side scripts:
			var profile = googleUser.getBasicProfile();
			console.log("ID: " + profile.getId()); // Don't send this directly to your server!
			console.log('Full Name: ' + profile.getName());
			console.log('Given Name: ' + profile.getGivenName());
			console.log('Family Name: ' + profile.getFamilyName());
			console.log("Image URL: " + profile.getImageUrl());
			console.log("Email: " + profile.getEmail());

			// The ID token you need to pass to your backend:
			var id_token = googleUser.getAuthResponse().id_token;
			console.log("ID Token: " + id_token);
		}

		/* 카카오 */
		// 사용할 앱의 JavaScript 키를 설정해 주세요.
		Kakao.init('8eb21286f0a69d0886357dbf7994d836');
		// 카카오 로그인 버튼을 생성합니다.
		Kakao.Auth.createLoginButton({
			container : '#kakao-login-btn',
			success : function(authObj) {
				Kakao.API.request({

					url : '/v1/user/me',

					success : function(res) {
						//로그인 성공 알림창 띄우고 메인화면으로 parameter 가지고 넘어가고 db에 id 저장

						alert(JSON.stringify(res)); //<---- kakao.api.request 에서 불러온 결과값 json형태로 출력

						alert(JSON.stringify(authObj)); //<----Kakao.Auth.createLoginButton에서 불러온 결과값 json형태로 출력

						console.log(res.id);//<---- 콘솔 로그에 id 정보 출력(id는 res안에 있기 때문에  res.id 로 불러온다)

						console.log(res.kaccount_email);//<---- 콘솔 로그에 email 정보 출력 (어딨는지 알겠죠?)

						console.log(res.properties['nickname']);//<---- 콘솔 로그에 닉네임 출력(properties에 있는 nickname 접근 

						// res.properties.nickname으로도 접근 가능 )

						console.log(authObj.access_token);//<---- 콘솔 로그에 토큰값 출력

					}
				})

				alert(JSON.stringify(authObj));
			},
			fail : function(err) {
				alert(JSON.stringify(err));
			}
		});
		//소셜 로그인
		$('.btn_social').click(function() {
			var socialType = $(this).data('social');
			location.href = "/oauth2/authorization/" + socialType;
		});
		
		function viewFruitPolicy(){
			$("#viewFruitPolicy").show();
		}
		function closeFruitPolicy(){
			$("#viewFruitPolicy").hide();
		}
		function viewPolicy(){
			$("#viewPolicy").show();
		}
		function closePolicy(){
			$("#viewPolicy").hide();
		}
	</script>
	
</body>
</html>