@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/NotoSansKR-Light.eot'); /* IE 호환성 보기 */
	src: local(※),
		 url('../fonts/NotoSansKR-Light.eot#iefix') format('embedded-opentype'), /* IE 6 ~ 8 */
		 url('../fonts/NotoSansKR-Light.woff2') format('woff2'),
		 url('../fonts/NotoSansKR-Light.woff') format('woff'),
		 url('../fonts/NotoSansKR-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/NotoSansKR-Regular.eot'); /* IE 호환성 보기 */
	src: local(※),
		 url('../fonts/NotoSansKR-Regular.eot#iefix') format('embedded-opentype'), /* IE 6 ~ 8 */
		 url('../fonts/NotoSansKR-Regular.woff2') format('woff2'),
		 url('../fonts/NotoSansKR-Regular.woff') format('woff'),
		 url('../fonts/NotoSansKR-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/NotoSansKR-Medium.eot'); /* IE 호환성 보기 */
	src: local(※),
		 url('../fonts/NotoSansKR-Medium.eot#iefix') format('embedded-opentype'), /* IE 6 ~ 8 */
	     url('../fonts/NotoSansKR-Medium.woff2') format('woff2'),
         url('../fonts/NotoSansKR-Medium.woff') format('woff'),
		 url('../fonts/NotoSansKR-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/NotoSansKR-Bold.eot'); /* IE 호환성 보기 */
	src: local(※),
		 url('../fonts/NotoSansKR-Bold.eot#iefix') format('embedded-opentype'), /* IE 6 ~ 8 */
	     url('../fonts/NotoSansKR-Bold.woff2') format('woff2'),
         url('../fonts/NotoSansKR-Bold.woff') format('woff'),
		 url('../fonts/NotoSansKR-Bold.ttf') format('truetype');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {font-family:'Noto Sans KR',"돋움", dotum, sans-serif; line-height: 1.5em; color:#000; font-size:15px; font-weight:300}
select, input, textarea, button{ font-family:'Noto Sans KR','Nanum Gothic',"돋움", dotum, sans-serif; font-size:inherit; vertical-align:middle;}
input[type="submit"], input[type="reset"]{/*border:0px;background:none;*/}
input[type="text"], input[type="password"], select{border:1px solid #d2d2d2}
img{vertical-align:top}
table { border-collapse: collapse; border-spacing: 0}
ul, ol{list-style: none}
a {color: #000; text-decoration: none;}
address{font-style:normal}
caption{text-indent:-9999px; height:0}

/* HTML5 */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
legend{ display:none}


.selectric-wrapper {position: relative; cursor: pointer;}
.selectric {position: relative; overflow: hidden; }
.selectric-label {display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: 29px; color: #000; height: 29px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.selectric-open {z-index: 9999;}
.selectric-open .selectric {border-color: #d4d4d4;}
.selectric-open .selectric-items {display: block; width: 120px; top: 100%; height: auto !important;}
.selectric-disabled {filter: alpha(opacity=50); opacity: 0.5; cursor: default; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.selectric-hide-select {position: relative; overflow: hidden; width: 0; height: 0; display: none;}
.selectric-hide-select select {position: absolute; left: -100%; top: -99999%; display: none;}
.selectric-hide-select.selectric-is-native {position: absolute; width: 100%; height: 100%; z-index: 10;}
.selectric-hide-select.selectric-is-native select {position: absolute; top: 0; left: 0; right: 0; height: 100%; width: 100%; border: none; z-index: 1; box-sizing: border-box; opacity: 0;}
.selectric-input {position: absolute !important; top: 0 !important; left: 0 !important; overflow: hidden !important; clip: rect(0, 0, 0, 0) !important; margin: 0 !important; padding: 0 !important; width: 1px !important; height: 1px !important; outline: none !important; border: none !important; *font: 0/0 a !important; background: none !important; display: none;}
.selectric-temp-show {position: absolute !important; visibility: hidden !important; display: block !important;}
.selectric-button{position: absolute; top: 0; right: 1px; width: 17px; height: 16px; cursor: pointer;}
.selectric-items {display: none; position: absolute; z-index: -1; top: 100%; left: 0; background: #fdfdfd; border: 1px solid #d4d4d4; box-shadow: 0 0 10px -6px; font-size: 12px;}
.selectric-items .selectric-scroll {height: 100%; overflow: auto;}
.selectric-above .selectric-items {top: auto; bottom: 100%;}
.selectric-items ul, .selectric-items li {list-style: none; padding: 0; margin: 0;}
.selectric-items li {display: block; padding: 10px; color: #828282; cursor: pointer; font-size: 15px;}
.selectric-items li.selected, .selectric-items li.highlighted, .selectric-items li:hover {background: #03D2B4; color: #fff;}
.selectric-items li.selected a, .selectric-items li.highlighted a, .selectric-items li:hover a{color: #fff;}
.selectric-items .disabled {filter: alpha(opacity=50); opacity: 0.5; cursor: default !important; background: none !important; color: #2f2f2f !important; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.selectric-items .selectric-group .selectric-group-label {font-weight: bold; padding-left: 10px; cursor: default; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background: none; color: #161616;}
.selectric-items .selectric-group.disabled li {filter: alpha(opacity=100); opacity: 1;}
.selectric-items .selectric-group li {padding-left: 25px;}

.nicescroll-rails{margin-top: -1px;}